Zymatic_v2.5_5.23.2021.json
[{"id":"7c1b28ed.b5e5a8","type":"tab","label":"Database","disabled":false,"info":""},{"id":"1f73b0a5.8b568f","type":"tab","label":"UI","disabled":false,"info":""},{"id":"1fc7a19f.bc5d4e","type":"tab","label":"MASH STEPS","disabled":false,"info":""},{"id":"f50bcbeb.8aa948","type":"tab","label":"PID","disabled":false,"info":""},{"id":"654fe51f.a2a47c","type":"tab","label":"PID Profile","disabled":false,"info":""},{"id":"dc3bdf74.e4669","type":"tab","label":"TEMP Sensors","disabled":false,"info":""},{"id":"9feeac49.c2931","type":"tab","label":"RIMS Element","disabled":false,"info":""},{"id":"c64eaa0.570be58","type":"tab","label":"Wort Pump","disabled":false,"info":""},{"id":"f614aecb.472f","type":"tab","label":"Drain Pump","disabled":false,"info":""},{"id":"74dcde4.14da52","type":"tab","label":"StepFilterArm","disabled":false,"info":""},{"id":"7030b9d1.374548","type":"tab","label":"STEPPER ARM GPIO","disabled":false,"info":""},{"id":"2ea11baa.85beb4","type":"tab","label":"STD-DEV","disabled":false,"info":""},{"id":"aaed3395.9513c","type":"tab","label":"EXPANSION","disabled":false,"info":""},{"id":"16bb35e6.30d3da","type":"tab","label":"DEV","disabled":false,"info":""},{"id":"ae7a480a.122b58","type":"subflow","name":"Stepper Motor","info":"","in":[{"x":160,"y":100,"wires":[{"id":"14a96fdb.b3551"}]}],"out":[{"x":1044,"y":79,"wires":[{"id":"4f2847d4.d3a1b8","port":0}]},{"x":1041,"y":137,"wires":[{"id":"4f2847d4.d3a1b8","port":1}]},{"x":1042,"y":189,"wires":[{"id":"4f2847d4.d3a1b8","port":2}]},{"x":1044,"y":242,"wires":[{"id":"4f2847d4.d3a1b8","port":3}]},{"x":1025,"y":379,"wires":[{"id":"4f2847d4.d3a1b8","port":4},{"id":"7a422b91.fe9fb4","port":0}]}]},{"id":"21e151df.6f31ee","type":"subflow","name":"Motor Controller","info":"Expects different messages\nAn \"On\" message and a \"Direction\" message","in":[{"x":25,"y":219,"wires":[{"id":"7349418e.7c79d"}]}],"out":[{"x":1050,"y":91,"wires":[{"id":"4a9f69fd.25b028","port":0},{"id":"9edb22e1.86225","port":0}]},{"x":1053,"y":164,"wires":[{"id":"4a9f69fd.25b028","port":0},{"id":"361a9691.7590ba","port":0}]},{"x":289,"y":67,"wires":[{"id":"7349418e.7c79d","port":0}]}]},{"id":"57c009b9.456138","type":"subflow","name":"Process Simulation","info":"","in":[{"x":37,"y":103,"wires":[{"id":"7cbe9fd8.b67bd"}]}],"out":[{"x":700.5,"y":209,"wires":[{"id":"c576975e.d48aa8","port":0}]}]},{"id":"27bbae77.261042","type":"subflow","name":"Process Simulation (2)","info":"","in":[{"x":37,"y":103,"wires":[{"id":"2de1d614.ee349a"}]}],"out":[{"x":728.5,"y":294,"wires":[{"id":"745f0add.9b0234","port":0}]}]},{"id":"5b61801b.9721b","type":"subflow","name":"RecipeBody","info":"","category":"","in":[],"out":[{"x":1240,"y":80,"wires":[{"id":"4c667a28.e973a4","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"e362f1ef.8dd3","type":"subflow","name":"Extract Recipe","info":"","category":"","in":[{"x":60,"y":140,"wires":[{"id":"36a03c6b.dfe584"},{"id":"43b377ef.1f03b8"},{"id":"5805f733.d14ef8"},{"id":"11f14615.7da4ba"}]}],"out":[{"x":1100,"y":120,"wires":[{"id":"946dec79.672df","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"18363914.ff32b7","type":"subflow","name":"Wort Temperature Sensor","info":"","category":"","in":[],"out":[{"x":1040,"y":200,"wires":[{"id":"776b4e5b.10283","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"e2971073.9d0ff","type":"subflow","name":"Hex Temperature Sensor","info":"","category":"","in":[],"out":[{"x":900,"y":80,"wires":[{"id":"db95dfe0.1b548","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"8358403d.5f2cb","type":"subflow","name":"RIMS Temperature Sensor","info":"","category":"","in":[],"out":[{"x":920,"y":180,"wires":[{"id":"73dc9c9.d686964","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"97192799.714bd","type":"subflow","name":"Stepper Motor","info":"","in":[{"x":160,"y":100,"wires":[{"id":"92e9f528.857ba"}]}],"out":[{"x":1044,"y":79,"wires":[{"id":"b833a444.b121f8","port":0}]},{"x":1041,"y":137,"wires":[{"id":"b833a444.b121f8","port":1}]},{"x":1042,"y":189,"wires":[{"id":"b833a444.b121f8","port":2}]},{"x":1044,"y":242,"wires":[{"id":"b833a444.b121f8","port":3}]},{"x":1025,"y":379,"wires":[{"id":"b833a444.b121f8","port":4},{"id":"8aa480a.a401a","port":0}]}]},{"id":"7c0027b0.3ba578","type":"influxdb","hostname":"192.168.2.86","port":"8086","protocol":"http","database":"zymatic","name":"Zymatic InfluxDB","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"23aef131.9656ee","type":"mqtt-broker","name":"TEMP-PROBE-ONE","broker":"192.168.2.86","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"42c2977a.e43cc8","type":"ui_group","name":"WORT PROPERTIES","tab":"fec1a13f.f0643","order":2,"disp":true,"width":"6","collapse":false},{"id":"23f4943c.5ba24c","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#b92d2d","baseFont":"Tahoma,Geneva,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Zymatic","default":"#4B7930","baseColor":"#4B7930","baseFont":"Tahoma,Geneva,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#4B7930","edited":true},"page-titlebar-backgroundColor":{"value":"#4B7930","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#ffffff","edited":true},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#4b7930","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Tahoma,Geneva,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"true","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":46,"gx":6,"gy":6,"cx":6,"cy":6,"px":1,"py":1}}},{"id":"fec1a13f.f0643","type":"ui_tab","name":"UI","icon":"dashboard","disabled":false,"hidden":false},{"id":"e3499e7d.16421","type":"ui_group","name":"STEPPER ARM","tab":"fec1a13f.f0643","order":3,"disp":true,"width":4,"collapse":false},{"id":"46387ab8.1a5d94","type":"ui_group","name":"STEP FILTER","tab":"fec1a13f.f0643","order":4,"disp":true,"width":4,"collapse":false},{"id":"c03ef53.d8ae708","type":"ui_group","name":"RIMS","tab":"fec1a13f.f0643","order":5,"disp":true,"width":7,"collapse":false},{"id":"b565e1ff.073c2","type":"ui_tab","name":"PID Profile","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"e073eab2.4afd18","type":"ui_group","name":"PROFILE","tab":"b565e1ff.073c2","order":1,"disp":true,"width":"6","collapse":false},{"id":"30720acb.97e456","type":"ui_tab","name":"MASH STEPS","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"1b6b4797.ba3478","type":"ui_group","name":"MASH RECIPE","tab":"30720acb.97e456","order":1,"disp":true,"width":"10","collapse":false},{"id":"9ff1216a.31025","type":"ui_group","name":"RECIPE FLOW","tab":"fec1a13f.f0643","order":1,"disp":true,"width":7,"collapse":false},{"id":"4b3593a0.14387c","type":"ui_spacer","name":"spacer","group":"c03ef53.d8ae708","order":3,"width":2,"height":1},{"id":"efa22f29.3571e","type":"ui_spacer","name":"spacer","group":"1b6b4797.ba3478","order":4,"width":1,"height":1},{"id":"1d5cd287.6c5f0d","type":"ui_spacer","name":"spacer","group":"1b6b4797.ba3478","order":7,"width":1,"height":1},{"id":"65cac911.361858","type":"mqtt in","z":"7c1b28ed.b5e5a8","name":"","topic":"tpo","qos":"2","datatype":"auto","broker":"23aef131.9656ee","nl":false,"rap":true,"rh":0,"x":290,"y":380,"wires":[["79ad5abe.816594"]]},{"id":"48c96460.a5fd1c","type":"function","z":"7c1b28ed.b5e5a8","name":"INSERT","func":"var val = Number(msg.payload.temperature);\nvar sensorname = msg.payload.sensorname;\nvar tempname = sensorname + \"_temp\";\n\n//var p = parseInt(global.get(\"ProcessValue\"));\nvar sp = parseInt(global.get(\"SetPoint\")) || 0;\n\nvar al = global.get(\"ARM_LOCATION\");\nvar ap = 1;\nswitch(al)\n{\n    case \"HOME\":\n        break;\n    case \"ADJ-1\":\n        ap = 2;\n        break;\n    case \"ADJ-2\":\n        ap = 3;\n        break;\n    case \"ADJ-3\":\n        ap = 4;\n        break;\n    case \"ADJ-4\":\n        ap = 5;\n        break;\n    case \"BYPASS-2\":\n        ap = 6;\n        break;\n}\n\nvar wp = global.get(\"WORTPUMP\");\nif(wp == \"ON\"){\n    wp = 1;\n}\nelse{\n    wp = 0;\n}\n\nvar dp = global.get(\"DRAINPUMP\");\nif(dp == \"ON\"){\n    dp = 1;\n}\nelse{\n    dp = 0;\n}\n\nvar rp = parseFloat(global.get(\"POWER\")) || 0.0;\n\nvar point = [\n    {\n    measurement:\"test_recipe\",\n    tags: {\n        sensor:sensorname,\n        unit:\"zymatic-1\",\n        recipe:\"test\"\n    },\n    fields: {\n        [tempname]:val,\n        drain_pump:dp,\n        wort_pump:wp,\n        rims_power:rp,\n        arm_position:ap,\n        set_point:sp\n    },\n    timestamp:new Date()\n    }\n];\nmsg.payload = point;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":380,"wires":[["ba75b1ab.0bb96"]]},{"id":"7a422b91.fe9fb4","type":"function","z":"ae7a480a.122b58","name":"Toggle Direction","func":"var direction = flow.get('direction')||0;\n\nif (direction === -1)\n{\n    direction = 1;\n}\nelse {\n    direction = -1;\n}\nflow.set('direction',direction);\nmsg.payload = direction;\nreturn msg;","outputs":1,"noerr":0,"x":431,"y":267,"wires":[[]]},{"id":"14a96fdb.b3551","type":"switch","z":"ae7a480a.122b58","name":"Step or Direction","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Step","vt":"str"},{"t":"eq","v":"Direction","vt":"str"}],"checkall":"true","outputs":2,"x":291,"y":171,"wires":[["7250af1a.5ebfc"],["7a422b91.fe9fb4"]]},{"id":"b1901fbf.4548e","type":"comment","z":"ae7a480a.122b58","name":"Flow Variables","info":"* Direction\n* Sequence\n* SequenceIndex","x":279,"y":42,"wires":[]},{"id":"4f2847d4.d3a1b8","type":"function","z":"ae7a480a.122b58","name":"Sequence Generator","func":"var seqindex = context.get('seqindex')||0;\nvar sequence = [ [1,0,0,0],[1,1,0,0],[0,1,0,0],[0,1,1,0],[0,0,1,0],[0,0,1,1],[0,0,0,1],[1,0,0,1]]\nvar direction = flow.get('direction');\n\nseqindex = (seqindex % (sequence.length));\nif (seqindex == -1) {seqindex = sequence.length-1;}\n\nmsg.payload = sequence[seqindex];\nmsg.seqindex = seqindex;\nmsg.direction = direction;\n\ncontext.set('seqindex',seqindex+direction);\n\nnode.status({fill:\"green\",shape:\"dot\",text:\"Step\"});\nnode.status({});\n\nreturn GenerateOutput(seqindex);\n\nfunction GenerateOutput(index) {\n    return [ NewMessage(sequence[index][0]), NewMessage(sequence[index][1]),NewMessage(sequence[index][2]),NewMessage(sequence[index][3]), msg  ];\n}\n\nfunction NewMessage(val) {\n    return { payload:val };\n}","outputs":"5","noerr":0,"x":800,"y":180,"wires":[[],[],[],[],[]]},{"id":"7250af1a.5ebfc","type":"function","z":"ae7a480a.122b58","name":"Multistep","func":"var outputMsgs = [];\nvar steps = msg.payload;\nfor (var count = 0; count < steps; count++) { \n    outputMsgs.push({payload:1});\n}\nreturn [ outputMsgs ];","outputs":1,"noerr":0,"x":434,"y":90,"wires":[["c7ee55f5.6558d8"]]},{"id":"c7ee55f5.6558d8","type":"delay","z":"ae7a480a.122b58","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":615,"y":76,"wires":[["4f2847d4.d3a1b8"]]},{"id":"7349418e.7c79d","type":"switch","z":"21e151df.6f31ee","name":"Split Messages","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Speed","vt":"str"},{"t":"eq","v":"On","vt":"str"},{"t":"eq","v":"Direction","vt":"str"}],"checkall":"true","outputs":3,"x":165,"y":228,"wires":[["e0501ee0.1dc67"],["4a9f69fd.25b028","81d72c0a.db38d"],["d91d9ee3.dfe05"]]},{"id":"4a9f69fd.25b028","type":"switch","z":"21e151df.6f31ee","name":"Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":1,"x":494,"y":199,"wires":[["c47dbdfb.92952","40845b9d.8d0d54"]]},{"id":"c47dbdfb.92952","type":"debug","z":"21e151df.6f31ee","name":"Motor 1","active":true,"console":"false","complete":"payload","x":1099,"y":31.5,"wires":[]},{"id":"40845b9d.8d0d54","type":"debug","z":"21e151df.6f31ee","name":"Motor 2","active":true,"console":"false","complete":"payload","x":1095,"y":226.5,"wires":[]},{"id":"81d72c0a.db38d","type":"switch","z":"21e151df.6f31ee","name":"On","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":1,"x":493,"y":263,"wires":[["9edb22e1.86225"]]},{"id":"edd75a0.0de78a8","type":"change","z":"21e151df.6f31ee","name":"Set Direction Clockwise","rules":[{"t":"set","p":"direction","pt":"flow","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":477,"y":358,"wires":[["9edb22e1.86225"]]},{"id":"e0945edf.5bed3","type":"change","z":"21e151df.6f31ee","name":"Set Direction Counter Clockwise","rules":[{"t":"set","p":"direction","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":417,"wires":[["9edb22e1.86225"]]},{"id":"9edb22e1.86225","type":"function","z":"21e151df.6f31ee","name":"Get Direction","func":"var direction = flow.get('direction')||0;\nmsg.payload = direction;\nreturn msg;","outputs":1,"noerr":0,"x":713,"y":300,"wires":[["c47dbdfb.92952","361a9691.7590ba"]]},{"id":"361a9691.7590ba","type":"function","z":"21e151df.6f31ee","name":"Invert","func":"if (msg.payload == 1) {\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"x":901,"y":303,"wires":[["40845b9d.8d0d54"]]},{"id":"d91d9ee3.dfe05","type":"switch","z":"21e151df.6f31ee","name":"Direction","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":2,"x":253,"y":398,"wires":[["edd75a0.0de78a8"],["e0945edf.5bed3"]]},{"id":"e0501ee0.1dc67","type":"debug","z":"21e151df.6f31ee","name":"Motor Speed","active":true,"console":"false","complete":"payload","x":353,"y":127.5,"wires":[]},{"id":"64f0e53f.5f7f6c","type":"sensor-ds18b20","z":"18363914.ff32b7","name":"Wort Temperature (DS18B20)","topic":"","sensorid":"28-021581a7fcff","timer":"1","repeat":false,"x":610,"y":200,"wires":[["776b4e5b.10283"]]},{"id":"bb2f7c7f.645c2","type":"inject","z":"18363914.ff32b7","name":"3 Seconds","repeat":"3","crontab":"","once":true,"onceDelay":"3","topic":"","payload":"","payloadType":"date","x":350,"y":200,"wires":[["64f0e53f.5f7f6c"]]},{"id":"bbf204c8.9ff288","type":"rpi-gpio out","z":"9feeac49.c2931","name":"RIMS SSR (GPIO20-38)","pin":"38","set":true,"level":"0","freq":"","out":"out","x":1170,"y":160,"wires":[]},{"id":"18b2f231.c6628e","type":"ui_chart","z":"1f73b0a5.8b568f","name":"Wort Temp Chart","group":"42c2977a.e43cc8","order":4,"width":0,"height":0,"label":"Wort Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"45","ymax":"220","removeOlder":"240","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":490,"y":220,"wires":[[]]},{"id":"b7f95629.bbe988","type":"link in","z":"1f73b0a5.8b568f","name":"Wort Temperature Display","links":["374a7459.f9355c"],"x":235,"y":180,"wires":[["18b2f231.c6628e","8038ffd5.f8f25"]]},{"id":"e84dc68e.241c68","type":"link out","z":"9feeac49.c2931","name":"RIMS Element State","links":["46b11232.c4a9cc"],"x":1195,"y":440,"wires":[]},{"id":"46b11232.c4a9cc","type":"link in","z":"1f73b0a5.8b568f","name":"RIMS Element State","links":["e84dc68e.241c68"],"x":235,"y":700,"wires":[["2c354d06.676852"]]},{"id":"2c354d06.676852","type":"ui_led","z":"1f73b0a5.8b568f","order":4,"group":"c03ef53.d8ae708","width":2,"height":1,"label":"RIMS State","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"0","valueType":"num"},{"color":"green","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"RIMS Element State","x":500,"y":700,"wires":[]},{"id":"8038ffd5.f8f25","type":"ui_text","z":"1f73b0a5.8b568f","group":"42c2977a.e43cc8","order":3,"width":0,"height":0,"name":"Wort Temp Value","label":"Wort Temp Value","format":"{{msg.payload}}","layout":"row-spread","x":490,"y":180,"wires":[]},{"id":"565f1df5.4f92e4","type":"ui_led","z":"1f73b0a5.8b568f","order":2,"group":"46387ab8.1a5d94","width":0,"height":0,"label":"Drain Pump State","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"0","valueType":"num"},{"color":"green","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Drain Pump State","x":1210,"y":120,"wires":[]},{"id":"2facc7f4.66f118","type":"ui_led","z":"1f73b0a5.8b568f","order":5,"group":"42c2977a.e43cc8","width":0,"height":0,"label":"Wort Pump State","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"0","valueType":"num"},{"color":"green","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"name":"Wort Pump State","x":490,"y":260,"wires":[]},{"id":"226eb4b8.1835cc","type":"link in","z":"1f73b0a5.8b568f","name":"Wort Pump State","links":["be0cefdd.a556e"],"x":235,"y":260,"wires":[["2facc7f4.66f118"]]},{"id":"6a9b54cf.47a76c","type":"link in","z":"1f73b0a5.8b568f","name":"Drain Pump State","links":["a1a85bd3.199738"],"x":955,"y":120,"wires":[["565f1df5.4f92e4"]]},{"id":"a1a85bd3.199738","type":"link out","z":"f614aecb.472f","name":"Drain Pump State","links":["6a9b54cf.47a76c"],"x":1055,"y":280,"wires":[]},{"id":"ce50740a.f7ecc8","type":"rpi-gpio out","z":"f614aecb.472f","name":"Drain Pump (GPIO13-33)","pin":"33","set":true,"level":"0","freq":"","out":"out","x":1090,"y":400,"wires":[]},{"id":"6e37d204.315c4c","type":"ui_button","z":"1f73b0a5.8b568f","name":"Drain Pump ON","group":"46387ab8.1a5d94","order":3,"width":2,"height":1,"passthru":false,"label":"ON","tooltip":"","color":"green","bgcolor":"white","icon":"","payload":"1","payloadType":"num","topic":"state","x":1020,"y":160,"wires":[["ec955099.f8b82"]]},{"id":"ec955099.f8b82","type":"link out","z":"1f73b0a5.8b568f","name":"Drain Pump ON","links":["58ef71be.8e382"],"x":1295,"y":160,"wires":[]},{"id":"8dd035a6.c2cec8","type":"link in","z":"1f73b0a5.8b568f","name":"STEPPER_MOTOR_ENABLE","links":["64504b11.167424"],"x":955,"y":460,"wires":[["4bfd971d.28b368"]]},{"id":"4bfd971d.28b368","type":"ui_led","z":"1f73b0a5.8b568f","order":4,"group":"e3499e7d.16421","width":0,"height":0,"label":"Motor State","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"0","valueType":"num"},{"color":"red","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"name":"StepperArm Motor State","x":1230,"y":460,"wires":[]},{"id":"2e258bd0.e26f44","type":"ui_text","z":"1f73b0a5.8b568f","group":"e3499e7d.16421","order":2,"width":0,"height":0,"name":"","label":"Position","format":"{{msg.payload}}","layout":"row-spread","x":1180,"y":360,"wires":[]},{"id":"c46d0743.a5e5c8","type":"link in","z":"1f73b0a5.8b568f","name":"STEPPER_ARM_LOCATION","links":["a6fa3b15.101998"],"x":955,"y":420,"wires":[["a40f4946.7933b8"]]},{"id":"3157d7d2.4d7738","type":"ui_text","z":"1f73b0a5.8b568f","group":"c03ef53.d8ae708","order":6,"width":0,"height":0,"name":"","label":"HEX Temperature","format":"{{msg.payload}}","layout":"row-spread","x":490,"y":580,"wires":[]},{"id":"f809f3a9.bfc9f","type":"ui_chart","z":"1f73b0a5.8b568f","name":"HEX Temp Chart","group":"c03ef53.d8ae708","order":5,"width":7,"height":4,"label":"HEX Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"45","ymax":"220","removeOlder":"240","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":490,"y":540,"wires":[[]]},{"id":"840c0a9b.2088d8","type":"ui_text","z":"1f73b0a5.8b568f","group":"46387ab8.1a5d94","order":1,"width":0,"height":0,"name":"Step Time (Step Filter)","label":"Step Time","format":"{{msg.payload}}","layout":"row-spread","x":1220,"y":80,"wires":[]},{"id":"830de1fe.8d3ff","type":"link in","z":"1f73b0a5.8b568f","name":"MASH Step","links":["7ec0ccfc.d68824","3bcadbaa.a0cb14"],"x":955,"y":80,"wires":[["840c0a9b.2088d8"]]},{"id":"a40f4946.7933b8","type":"ui_dropdown","z":"1f73b0a5.8b568f","name":"Stepper Arm Selection","label":"MOVE TO","tooltip":"","place":"Select option","group":"e3499e7d.16421","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Home","value":"HOME","type":"str"},{"label":"Bypass 1","value":"BYPASS-1","type":"str"},{"label":"Adjunct 1","value":"ADJ-1","type":"str"},{"label":"Adjunct 2","value":"ADJ-2","type":"str"},{"label":"Adjunct 3","value":"ADJ-3","type":"str"},{"label":"Adjunct 4","value":"ADJ-4","type":"str"},{"label":"Bypass 2","value":"BYPASS-2","type":"str"}],"payload":"","topic":"manual","x":1100,"y":420,"wires":[["2e258bd0.e26f44"]]},{"id":"871ed140.b1b5d","type":"ui_text","z":"1f73b0a5.8b568f","group":"42c2977a.e43cc8","order":2,"width":0,"height":0,"name":"WORT Setpoint","label":"WORT Temp Setpoint","format":"{{msg.payload}}","layout":"row-spread","x":680,"y":80,"wires":[]},{"id":"ed25739c.7ccef","type":"ui_gauge","z":"1f73b0a5.8b568f","name":"RIMS Gauge","group":"c03ef53.d8ae708","order":1,"width":5,"height":3,"gtype":"gage","title":"RIMS Temperature","label":"units","format":"{{value}}","min":"45","max":"212","colors":["#00b500","#e6e600","#ca3838"],"seg1":"200","seg2":"","x":470,"y":480,"wires":[]},{"id":"c576975e.d48aa8","type":"function","z":"57c009b9.456138","name":"30 sec RC + 0.2","func":"// Applies a simple RC low pass filter to incoming payload values\nvar tc = 30*1000;       // time constant in milliseconds\n\nvar lastValue = context.get('lastValue');\nif (typeof lastValue == \"undefined\") lastValue = msg.payload;\nvar lastTime = context.get('lastTime') || null;\nvar now = new Date();\nvar currentValue = msg.payload;\nif (lastTime === null) {\n    // first time through\n    newValue = currentValue;\n} else {\n    var dt = now - lastTime;\n    var newValue;\n    \n    if (dt > 0) {\n        var dtotc = dt / tc;\n        newValue = lastValue * (1 - dtotc) + currentValue * dtotc;\n    } else {\n        // no time has elapsed leave output the same as last time\n        newValue = lastValue;\n    }\n}\ncontext.set('lastValue', newValue);\ncontext.set('lastTime', now);\n\nmsg = {};\nmsg.payload = newValue + 0.2;\nreturn msg;","outputs":1,"noerr":0,"x":569.5,"y":210,"wires":[[]]},{"id":"31d5ae33.dae822","type":"inject","z":"57c009b9.456138","name":"Inject 0 at start","repeat":"","crontab":"","once":true,"topic":"","payload":"0","payloadType":"num","x":124.5,"y":30,"wires":[["7cbe9fd8.b67bd"]]},{"id":"a172e4ac.01dc48","type":"function","z":"57c009b9.456138","name":"10 sec RC","func":"// Applies a simple RC low pass filter to incoming payload values\nvar tc = 10*1000;       // time constant in milliseconds\n\nvar lastValue = context.get('lastValue');\nif (typeof lastValue == \"undefined\") lastValue = msg.payload;\nvar lastTime = context.get('lastTime') || null;\nvar now = new Date();\nvar currentValue = msg.payload;\nif (lastTime === null) {\n    // first time through\n    newValue = currentValue;\n} else {\n    var dt = now - lastTime;\n    var newValue;\n    \n    if (dt > 0) {\n        var dtotc = dt / tc;\n        newValue = lastValue * (1 - dtotc) + currentValue * dtotc;\n    } else {\n        // no time has elapsed leave output the same as last time\n        newValue = lastValue;\n    }\n}\ncontext.set('lastValue', newValue);\ncontext.set('lastTime', now);\n\nmsg.payload = newValue;\nreturn msg;","outputs":1,"noerr":0,"x":394,"y":210,"wires":[["c576975e.d48aa8"]]},{"id":"7cbe9fd8.b67bd","type":"delay","z":"57c009b9.456138","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":268,"y":104,"wires":[["e3e75e7c.72b08"]]},{"id":"e3e75e7c.72b08","type":"function","z":"57c009b9.456138","name":"8 msg transport delay","func":"// stores messages in a fifo until the specified number have been received, \n// then releases them as new messages are received.\n// during the filling phase the earliest message is passed on each time \n// a message is received, but it is also left in the fifo\nvar fifoMaxLength = 8;\nvar fifo = context.get('fifo') || [];\n// push the new message onto the top of the array, messages are shifted down and\n// drop off the front\nvar length = fifo.push(msg);  // returns new length\nif (length > fifoMaxLength) {\n    newMsg = fifo.shift();\n} else {\n    // not full yet, make a copy of the msg and pass it on\n    var newMsg = JSON.parse(JSON.stringify(fifo[0]));\n}\ncontext.set('fifo', fifo);\nreturn newMsg;","outputs":1,"noerr":0,"x":175,"y":210,"wires":[["a172e4ac.01dc48"]]},{"id":"d0c7f25.9ed5a1","type":"function","z":"27bbae77.261042","name":"30 sec RC + 20","func":"// Applies a simple RC low pass filter to incoming payload values\nvar tc = 30*1000;       // time constant in milliseconds\n\nvar lastValue = context.get('lastValue');\nif (typeof lastValue == \"undefined\") lastValue = msg.payload;\nvar lastTime = context.get('lastTime') || null;\nvar now = new Date();\nvar currentValue = msg.payload;\nif (lastTime === null) {\n    // first time through\n    newValue = currentValue;\n} else {\n    var dt = now - lastTime;\n    var newValue;\n    \n    if (dt > 0) {\n        var dtotc = dt / tc;\n        newValue = lastValue * (1 - dtotc) + currentValue * dtotc;\n    } else {\n        // no time has elapsed leave output the same as last time\n        newValue = lastValue;\n    }\n}\ncontext.set('lastValue', newValue);\ncontext.set('lastTime', now);\n\nmsg.payload = newValue + 20;\nreturn msg;","outputs":1,"noerr":0,"x":626.5,"y":207,"wires":[["745f0add.9b0234"]]},{"id":"b80d68ae.146f98","type":"inject","z":"27bbae77.261042","name":"Inject -0.2 at start","repeat":"","crontab":"","once":true,"topic":"","payload":"-0.2","payloadType":"num","x":134.5,"y":30,"wires":[["2de1d614.ee349a"]]},{"id":"9fe2a656.27f438","type":"function","z":"27bbae77.261042","name":"10 sec RC","func":"// Applies a simple RC low pass filter to incoming payload values\nvar tc = 10*1000;       // time constant in milliseconds\n\nvar lastValue = context.get('lastValue');\nif (typeof lastValue == \"undefined\") lastValue = msg.payload;\nvar lastTime = context.get('lastTime') || null;\nvar now = new Date();\nvar currentValue = msg.payload;\nif (lastTime === null) {\n    // first time through\n    newValue = currentValue;\n} else {\n    var dt = now - lastTime;\n    var newValue;\n    \n    if (dt > 0) {\n        var dtotc = dt / tc;\n        newValue = lastValue * (1 - dtotc) + currentValue * dtotc;\n    } else {\n        // no time has elapsed leave output the same as last time\n        newValue = lastValue;\n    }\n}\ncontext.set('lastValue', newValue);\ncontext.set('lastTime', now);\n\nmsg.payload = newValue;\nreturn msg;","outputs":1,"noerr":0,"x":451,"y":207,"wires":[["d0c7f25.9ed5a1"]]},{"id":"2de1d614.ee349a","type":"delay","z":"27bbae77.261042","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":268,"y":104,"wires":[["8ae84d93.91278"]]},{"id":"3739610b.3d571e","type":"function","z":"27bbae77.261042","name":"2 msg transport delay","func":"// stores messages in a fifo until the specified number have been received, \n// then releases them as new messages are received.\n// during the filling phase the earliest message is passed on each time \n// a message is received, but it is also left in the fifo\nvar fifoMaxLength = 2;\nvar fifo = context.get('fifo') || [];\n// push the new message onto the top of the array, messages are shifted down and\n// drop off the front\nvar length = fifo.push(msg);  // returns new length\nif (length > fifoMaxLength) {\n    newMsg = fifo.shift();\n} else {\n    // not full yet, make a copy of the msg and pass it on\n    var newMsg = JSON.parse(JSON.stringify(fifo[0]));\n}\ncontext.set('fifo', fifo);\nreturn newMsg;","outputs":1,"noerr":0,"x":258,"y":208,"wires":[["9fe2a656.27f438"]]},{"id":"745f0add.9b0234","type":"function","z":"27bbae77.261042","name":"Clear all except payload","func":"msg2 = {payload: msg.payload};\nreturn msg2;","outputs":1,"noerr":0,"x":545,"y":293,"wires":[[]]},{"id":"8ae84d93.91278","type":"range","z":"27bbae77.261042","minin":"0","maxin":"1","minout":"0","maxout":"100","action":"scale","round":false,"name":"","x":87,"y":208,"wires":[["3739610b.3d571e"]]},{"id":"7ee04b01.300614","type":"PID","z":"f50bcbeb.8aa948","name":"","setpoint":"104","pb":"1.5","ti":"60","td":"6","integral_default":"0.70","smooth_factor":"3","max_interval":"60","enable":"0","disabled_op":"0","x":630,"y":260,"wires":[["3dc5ec99.c81444","e5dc6277.87427"]]},{"id":"68686339.57d6fc","type":"change","z":"f50bcbeb.8aa948","name":"Set topic to \"op\"","rules":[{"t":"set","p":"topic","pt":"msg","to":"op","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":360,"wires":[["c1dc338a.dc18a","5c85024d.37042c"]]},{"id":"192f5a20.35c396","type":"change","z":"f50bcbeb.8aa948","name":"Set topic to \"pv\"","rules":[{"t":"set","p":"topic","pt":"msg","to":"pv","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":500,"wires":[["c1dc338a.dc18a"]]},{"id":"3dc5ec99.c81444","type":"range","z":"f50bcbeb.8aa948","minin":"0","maxin":"1","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"Scale power","x":730,"y":360,"wires":[["68686339.57d6fc"]]},{"id":"2f7eb217.f8af1e","type":"inject","z":"f50bcbeb.8aa948","name":"Clear chart on deploy","repeat":"","crontab":"","once":true,"topic":"","payload":"{\"data\":[]}","payloadType":"json","x":660,"y":420,"wires":[["2cd3cc7d.a46374"]]},{"id":"2cd3cc7d.a46374","type":"change","z":"f50bcbeb.8aa948","name":"","rules":[{"t":"move","p":"payload.data","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":420,"wires":[["c1dc338a.dc18a"]]},{"id":"76fb66eb.353748","type":"ui_slider","z":"1f73b0a5.8b568f","name":"WortSetPoint","label":"Wort Set Point","tooltip":"","group":"42c2977a.e43cc8","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"setpoint","min":0,"max":"212","step":"1","x":430,"y":80,"wires":[["310a361b.796b0a","871ed140.b1b5d"]]},{"id":"776b4e5b.10283","type":"function","z":"18363914.ff32b7","name":"C to F","func":"var tempc = msg.payload;\nif(!isNaN(parseFloat(tempc)))\n{\n    tempf = (tempc * 9/5) +32;\n    tempf = Math.round(tempf *10)/10;\n    msg.payload = tempf;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":200,"wires":[[]]},{"id":"268e084f.15b248","type":"link in","z":"f50bcbeb.8aa948","name":"Wort Setpoint","links":["a05abde3.df4b5","f7ab626.d6ba9a"],"x":295,"y":460,"wires":[["7ee04b01.300614"]]},{"id":"a05abde3.df4b5","type":"link out","z":"1f73b0a5.8b568f","name":"Wort Setpoint","links":["268e084f.15b248"],"x":735,"y":140,"wires":[]},{"id":"593729c0.6e8778","type":"link in","z":"f50bcbeb.8aa948","name":"Wort Temperature Value","links":["16abfc4b.02bfa4","38c728ce.461098","3c07ef3.5111c1"],"x":195,"y":540,"wires":[["2bf15a7a.b252c6"]]},{"id":"b2b87e97.f8745","type":"ui_numeric","z":"654fe51f.a2a47c","name":"Power when disabled","label":"Power when disabled","tooltip":"","group":"e073eab2.4afd18","order":8,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"disabled_op","format":"{{value}}","min":0,"max":"1","step":"1","x":440,"y":320,"wires":[["efdd47e1.51b568"]]},{"id":"948054fe.8a6c18","type":"ui_text_input","z":"654fe51f.a2a47c","name":"Proportional Band","label":"Proportional Band","tooltip":"A 0 value turns off the PID, no hysteresis","group":"e073eab2.4afd18","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"prop_band","x":430,"y":80,"wires":[["fbc107bb.f6bcc8"]]},{"id":"fbc107bb.f6bcc8","type":"change","z":"654fe51f.a2a47c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":80,"wires":[["a9b9a1fa.1a48b"]]},{"id":"67e5ba11.e1d7d4","type":"change","z":"654fe51f.a2a47c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":200,"wires":[["44cbd034.d9913"]]},{"id":"da0c0c8c.77f24","type":"change","z":"654fe51f.a2a47c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":240,"wires":[["7200d7aa.4c8d38"]]},{"id":"44b05ff3.6ebef","type":"change","z":"654fe51f.a2a47c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":120,"wires":[["bcd0c201.3225d"]]},{"id":"13fd340.065e3cc","type":"change","z":"654fe51f.a2a47c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":160,"wires":[["e21413ef.18e1"]]},{"id":"67646e46.701c2","type":"change","z":"654fe51f.a2a47c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":280,"wires":[["6d7d56b7.ff1748"]]},{"id":"b6f884df.d45dd8","type":"ui_text_input","z":"654fe51f.a2a47c","name":"Integral Time","label":"Integral Time","tooltip":"","group":"e073eab2.4afd18","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"t_integral","x":410,"y":200,"wires":[["67e5ba11.e1d7d4"]]},{"id":"48c9112c.275e8","type":"ui_text_input","z":"654fe51f.a2a47c","name":"Derivative Time","label":"Derivative Time","tooltip":"","group":"e073eab2.4afd18","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"t_derivative","x":420,"y":240,"wires":[["da0c0c8c.77f24"]]},{"id":"2babcfac.089ed","type":"ui_text_input","z":"654fe51f.a2a47c","name":"Initial Integral","label":"Initial Integral","tooltip":"","group":"e073eab2.4afd18","order":5,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"integral_default","x":410,"y":120,"wires":[["44b05ff3.6ebef"]]},{"id":"3063eea6.d19f42","type":"ui_text_input","z":"654fe51f.a2a47c","name":"Max Sample Integral","label":"Max Sample Integral","tooltip":"","group":"e073eab2.4afd18","order":6,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"max_interval","x":440,"y":160,"wires":[["13fd340.065e3cc"]]},{"id":"4045ccb7.db7ad4","type":"ui_text_input","z":"654fe51f.a2a47c","name":"Derivative Smoothing Factor","label":"Derivative Smoothing Factor","tooltip":"","group":"e073eab2.4afd18","order":7,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"smooth_factor","x":460,"y":280,"wires":[["67646e46.701c2"]]},{"id":"151e46cb.5b9b69","type":"ui_button","z":"654fe51f.a2a47c","name":"Enable","group":"e073eab2.4afd18","order":9,"width":0,"height":0,"passthru":true,"label":"Enable","tooltip":"","color":"blue","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"enable","x":400,"y":360,"wires":[["d8e0b4b4.a8e858"]]},{"id":"a9b9a1fa.1a48b","type":"link out","z":"654fe51f.a2a47c","name":"PB","links":["e4a93eed.29b6"],"x":855,"y":80,"wires":[]},{"id":"bcd0c201.3225d","type":"link out","z":"654fe51f.a2a47c","name":"II","links":["9e398e61.1ddd6"],"x":855,"y":120,"wires":[]},{"id":"e21413ef.18e1","type":"link out","z":"654fe51f.a2a47c","name":"MI","links":["4f4a606c.6690b"],"x":855,"y":160,"wires":[]},{"id":"44cbd034.d9913","type":"link out","z":"654fe51f.a2a47c","name":"IT","links":["defd841f.3d07e8"],"x":855,"y":200,"wires":[]},{"id":"7200d7aa.4c8d38","type":"link out","z":"654fe51f.a2a47c","name":"DT","links":["1fddd51d.b5152b"],"x":855,"y":240,"wires":[]},{"id":"6d7d56b7.ff1748","type":"link out","z":"654fe51f.a2a47c","name":"DSF","links":["431fd505.3ca94c"],"x":855,"y":280,"wires":[]},{"id":"efdd47e1.51b568","type":"link out","z":"654fe51f.a2a47c","name":"PWD","links":["9d611383.a91ac"],"x":855,"y":320,"wires":[]},{"id":"d8e0b4b4.a8e858","type":"link out","z":"654fe51f.a2a47c","name":"EN","links":["7245f559.04738c"],"x":855,"y":360,"wires":[]},{"id":"4aceecfc.9b3914","type":"ui_button","z":"654fe51f.a2a47c","name":"Disable","group":"e073eab2.4afd18","order":10,"width":0,"height":0,"passthru":true,"label":"Disable","tooltip":"","color":"black","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"enable","x":400,"y":400,"wires":[["d8e0b4b4.a8e858"]]},{"id":"e4a93eed.29b6","type":"link in","z":"f50bcbeb.8aa948","name":"PB","links":["a9b9a1fa.1a48b"],"x":295,"y":100,"wires":[["7ee04b01.300614"]]},{"id":"9e398e61.1ddd6","type":"link in","z":"f50bcbeb.8aa948","name":"II","links":["bcd0c201.3225d"],"x":295,"y":140,"wires":[["7ee04b01.300614"]]},{"id":"4f4a606c.6690b","type":"link in","z":"f50bcbeb.8aa948","name":"MI","links":["e21413ef.18e1"],"x":295,"y":180,"wires":[["7ee04b01.300614"]]},{"id":"defd841f.3d07e8","type":"link in","z":"f50bcbeb.8aa948","name":"IT","links":["44cbd034.d9913"],"x":295,"y":220,"wires":[["7ee04b01.300614"]]},{"id":"1fddd51d.b5152b","type":"link in","z":"f50bcbeb.8aa948","name":"DT","links":["7200d7aa.4c8d38"],"x":295,"y":260,"wires":[["7ee04b01.300614"]]},{"id":"431fd505.3ca94c","type":"link in","z":"f50bcbeb.8aa948","name":"DSF","links":["6d7d56b7.ff1748"],"x":295,"y":300,"wires":[["7ee04b01.300614"]]},{"id":"9d611383.a91ac","type":"link in","z":"f50bcbeb.8aa948","name":"PWD","links":["efdd47e1.51b568"],"x":295,"y":340,"wires":[["7ee04b01.300614"]]},{"id":"7245f559.04738c","type":"link in","z":"f50bcbeb.8aa948","name":"EN","links":["d8e0b4b4.a8e858"],"x":295,"y":380,"wires":[["7ee04b01.300614"]]},{"id":"3bcadbaa.a0cb14","type":"link out","z":"1fc7a19f.bc5d4e","name":"MASH Step","links":["830de1fe.8d3ff"],"x":1175,"y":700,"wires":[]},{"id":"e977c942.080f28","type":"xml","z":"5b61801b.9721b","name":"","property":"payload","attr":"","chr":"","x":830,"y":80,"wires":[["4c667a28.e973a4"]]},{"id":"dbece812.c73a48","type":"file in","z":"5b61801b.9721b","name":"recipe-file","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":680,"y":80,"wires":[["e977c942.080f28"]]},{"id":"d2bb3fc0.6d549","type":"change","z":"5b61801b.9721b","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":160,"wires":[["dbece812.c73a48"]]},{"id":"dc0433aa.cbbd9","type":"comment","z":"5b61801b.9721b","name":"","info":"payload.RECIPES.RECIPE[0].ZYMATIC\npayload.RECIPES.RECIPE[0].MASH\npayload.RECIPES.RECIPE[0].HOPS\npayload.RECIPES.RECIPE[0].MISCS\npayload.RECIPES.RECIPE[0].MISCS[0].MISC[0].NAME\npayload.RECIPES.RECIPE[0].MISCS[0].MISC[0].TIME\npayload.RECIPES.RECIPE[0].MISCS[0].MISC[0].TIME[0]\n","x":280,"y":120,"wires":[]},{"id":"7ef7aae1.124c14","type":"fs-file-lister","z":"5b61801b.9721b","name":"","start":"/","pattern":"*.*","folders":"*","hidden":false,"lstype":"files","path":true,"single":true,"depth":0,"stat":false,"showWarnings":true,"x":460,"y":140,"wires":[["cf8d03f1.90e7d"]]},{"id":"15da776f.3da409","type":"ui_text_input","z":"5b61801b.9721b","name":"path-recipe","label":"Path to Recipes","tooltip":"","group":"1b6b4797.ba3478","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":190,"y":240,"wires":[["23055dbc.674fb2"]]},{"id":"eb1a7f00.8413b","type":"inject","z":"5b61801b.9721b","name":"","props":[{"p":"payload","v":"/home/pi/Documents/beerXML","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"/home/pi/Documents/beerXML","payloadType":"str","x":190,"y":180,"wires":[["15da776f.3da409","23055dbc.674fb2"]]},{"id":"23055dbc.674fb2","type":"function","z":"5b61801b.9721b","name":"override","func":"var path = msg.payload;\nmsg.payload = {\"start\": path};\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":240,"wires":[["7ef7aae1.124c14"]]},{"id":"14387fb9.3a398","type":"ui_dropdown","z":"5b61801b.9721b","name":"","label":"","tooltip":"","place":"Select option","group":"1b6b4797.ba3478","order":2,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":780,"y":240,"wires":[["d2bb3fc0.6d549"]]},{"id":"cf8d03f1.90e7d","type":"change","z":"5b61801b.9721b","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":240,"wires":[["14387fb9.3a398"]]},{"id":"8accdaa3.68c928","type":"comment","z":"1fc7a19f.bc5d4e","name":"","info":" * Read recipe file\n * extract recipe name\n * extract mash steps\n * extract mash time and temp for each step\n * extract drain times after each step\n * extract hop times and adj positions\n","x":160,"y":80,"wires":[]},{"id":"89e7a599.c2d4e8","type":"subflow:5b61801b.9721b","z":"1fc7a19f.bc5d4e","name":"Get Recipe File","env":[],"x":140,"y":620,"wires":[["4bdb2a05.13a484"]]},{"id":"36a03c6b.dfe584","type":"function","z":"e362f1ef.8dd3","name":"Extract-Name","func":"var name = msg.payload.RECIPES.RECIPE[0].NAME[0]\nmsg.payload = name;\nglobal.set(\"RecipeName\", name);\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":80,"wires":[["82224a7b.48f5f8"]]},{"id":"82224a7b.48f5f8","type":"ui_toast","z":"e362f1ef.8dd3","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":680,"y":80,"wires":[]},{"id":"43b377ef.1f03b8","type":"function","z":"e362f1ef.8dd3","name":"Extract-Mash-Steps","func":"var mash = msg.payload.RECIPES.RECIPE[0].MASH[0].MASH_STEPS[0].MASH_STEP;\nmsg.payload = mash;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":120,"wires":[["39d884cb.bb598c"]]},{"id":"5805f733.d14ef8","type":"function","z":"e362f1ef.8dd3","name":"Extract-Advanced-Steps","func":"var zymatic = msg.payload.RECIPES.RECIPE[0].ZYMATIC[0].STEP;\nmsg.payload = zymatic;\nglobal.set(\"AdvancedSteps\", zymatic);\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":160,"wires":[["93f2db42.e78c78"]]},{"id":"11f14615.7da4ba","type":"function","z":"e362f1ef.8dd3","name":"Extract-Hops","func":"var hops = msg.payload.RECIPES.RECIPE[0].HOPS[0].HOP;\nmsg.payload = hops;\nglobal.set(\"HopsList\", hops);\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":200,"wires":[["8f3ce24b.0ce36"]]},{"id":"4bdb2a05.13a484","type":"subflow:e362f1ef.8dd3","z":"1fc7a19f.bc5d4e","name":"","env":[],"x":220,"y":700,"wires":[["1893ed7f.a5ab73","1bc2be3b.7428b2"]]},{"id":"fd9f954f.6e0918","type":"ui_template","z":"e362f1ef.8dd3","group":"1b6b4797.ba3478","name":"Hop Additions","order":8,"width":0,"height":0,"format":"<h2>Hops</h2>\n<table border=\"1\" height=\"200\">\n    <tr>\n        <th>Name</th>\n        <th>Amount</th>\n        <th>Step</th>\n        <th>Time</th>\n    </tr>\n    <tr ng-repeat=\"(k,v) in msg.payload\">\n        <td>{{v.NAME[0]}}</td>\n        <td>{{v.AMOUNT[0]}}</td>\n        <td>{{v.USE[0]}}</td>\n        <td>{{v.TIME[0]}}</td>\n    </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":780,"y":200,"wires":[[]]},{"id":"cf50e8f2.58c858","type":"ui_template","z":"e362f1ef.8dd3","group":"1b6b4797.ba3478","name":"Mash Steps","order":9,"width":0,"height":0,"format":"<h2>Mash</h2>\n<table border=\"1\" height=\"200\">\n    <tr>\n        <th>Name</th>\n        <th>Temp</th>\n        <th>Time</th>\n    </tr>\n    <tr ng-repeat=\"(k,v) in msg.payload\">\n        <td>{{v.NAME[0]}}</td>\n        <td>{{v.STEP_TEMP[0]}}</td>\n        <td>{{v.STEP_TIME[0]}}</td>\n    </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":770,"y":120,"wires":[["946dec79.672df"]]},{"id":"93f2db42.e78c78","type":"ui_template","z":"e362f1ef.8dd3","group":"1b6b4797.ba3478","name":"Advanced Steps","order":10,"width":0,"height":0,"format":"<h2>Advanced</h2>\n<table border=\"1\" height=\"200\">\n    <tr>\n        <th>Name</th>\n        <th>Temp</th>\n        <th>Time</th>\n        <th>Location</th>\n        <th>Drain</th>\n    </tr>\n    <tr ng-repeat=\"(k,v) in msg.payload\">\n        <td>{{v.NAME[0]}}</td>\n        <td>{{v.TEMP[0]}}</td>\n        <td>{{v.TIME[0]}}</td>\n        <td>{{v.LOCATION[0]}}</td>\n        <td>{{v.DRAIN[0]}}</td>\n    </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":500,"y":160,"wires":[[]]},{"id":"39d884cb.bb598c","type":"function","z":"e362f1ef.8dd3","name":"CtoF","func":"var mash = msg.payload;\nmash.forEach(function (value,index){\n    //node.warn(value.STEP_TEMP[0]);\n    var tempc = Number(value.STEP_TEMP[0]);\n    var tempf = (tempc * 9/5) +32;\n    tempf = Math.round(tempf *1)/1;\n    value.STEP_TEMP[0] = tempf;\n    //node.warn(value.STEP_TEMP[0]);\n});\nmsg.payload = mash;\nglobal.set(\"MashSteps\", mash);\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":120,"wires":[["be0739c5.206308"]]},{"id":"82da1852.5d4b68","type":"ui_button","z":"1fc7a19f.bc5d4e","name":"Start Recipe","group":"1b6b4797.ba3478","order":5,"width":4,"height":1,"passthru":false,"label":"Start","tooltip":"","color":"white","bgcolor":"green","icon":"","payload":"trigger","payloadType":"str","topic":"control","x":230,"y":300,"wires":[["ba74e64a.7378d8","f8d273fb.a8c36","dd45506a.b8559","6c9994b6.75eecc"]]},{"id":"1db8474e.575499","type":"ui_ui_control","z":"1fc7a19f.bc5d4e","name":"","events":"change","x":860,"y":220,"wires":[[]]},{"id":"ba74e64a.7378d8","type":"change","z":"1fc7a19f.bc5d4e","name":"Open UI","rules":[{"t":"set","p":"payload","pt":"msg","to":"UI","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":220,"wires":[["1db8474e.575499"]]},{"id":"1893ed7f.a5ab73","type":"function","z":"1fc7a19f.bc5d4e","name":"Get Recipe","func":"var recipe = global.get(\"RecipeName\");\nmsg.payload = recipe;\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":740,"wires":[["9a6bcfe4.829ae"]]},{"id":"de2e9ef9.b55ad","type":"link in","z":"1f73b0a5.8b568f","name":"Wort temp setpoint","links":["1f3a63b3.efac4c","add00f65.dd4fe"],"x":235,"y":80,"wires":[["76fb66eb.353748"]]},{"id":"1f3a63b3.efac4c","type":"link out","z":"1fc7a19f.bc5d4e","name":"Wort Temp Setpoint","links":["de2e9ef9.b55ad"],"x":1175,"y":660,"wires":[]},{"id":"8dcd794.87b7c88","type":"ui_button","z":"1fc7a19f.bc5d4e","name":"Stop Recipe","group":"1b6b4797.ba3478","order":6,"width":4,"height":1,"passthru":true,"label":"Stop","tooltip":"","color":"white","bgcolor":"red","icon":"","payload":"stop","payloadType":"str","topic":"state","x":270,"y":200,"wires":[["991242b7.f7bf","7a0f70f.b164d9","14759ec0.3dbd21","e2c311a7.43d7a"]]},{"id":"3c27a858.460758","type":"link in","z":"1fc7a19f.bc5d4e","name":"Stop Recipe","links":["f3f85532.975978"],"x":155,"y":200,"wires":[["8dcd794.87b7c88"]]},{"id":"569a60c5.6b708","type":"ui_button","z":"1f73b0a5.8b568f","name":"Stop Recipe","group":"9ff1216a.31025","order":5,"width":0,"height":0,"passthru":true,"label":"Stop Recipe","tooltip":"","color":"white","bgcolor":"red","icon":"","payload":"stop","payloadType":"str","topic":"control","x":1010,"y":820,"wires":[["f3f85532.975978"]]},{"id":"f3f85532.975978","type":"link out","z":"1f73b0a5.8b568f","name":"Stop Recipe","links":["3c27a858.460758"],"x":1175,"y":820,"wires":[]},{"id":"f76a9ea4.1a891","type":"link out","z":"f50bcbeb.8aa948","name":"RIMS Power","links":["3af8d13a.84c38e"],"x":1215,"y":300,"wires":[]},{"id":"c1dc338a.dc18a","type":"link out","z":"f50bcbeb.8aa948","name":"PID Chart","links":["92e8a49b.436098"],"x":1215,"y":420,"wires":[]},{"id":"435c62ec.924cec","type":"ui_chart","z":"1f73b0a5.8b568f","name":"PID Chart","group":"c03ef53.d8ae708","order":7,"width":7,"height":4,"label":"PID","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"220","removeOlder":"90","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#cf0005","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":460,"y":660,"wires":[[]]},{"id":"e57b3ed0.10e2b","type":"ui_text","z":"1f73b0a5.8b568f","group":"c03ef53.d8ae708","order":2,"width":2,"height":1,"name":"RIMS Power","label":"RIMS Power","format":"{{msg.payload}}","layout":"row-spread","x":470,"y":620,"wires":[]},{"id":"3af8d13a.84c38e","type":"link in","z":"1f73b0a5.8b568f","name":"RIMS Power","links":["f76a9ea4.1a891"],"x":235,"y":620,"wires":[["e57b3ed0.10e2b"]]},{"id":"92e8a49b.436098","type":"link in","z":"1f73b0a5.8b568f","name":"PID Chart","links":["c1dc338a.dc18a"],"x":235,"y":660,"wires":[["435c62ec.924cec"]]},{"id":"946dec79.672df","type":"change","z":"e362f1ef.8dd3","name":"","rules":[{"t":"set","p":"enable","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":120,"wires":[[]]},{"id":"1bc2be3b.7428b2","type":"function","z":"1fc7a19f.bc5d4e","name":"Parse Step Info","func":"//clear the queue\nmsg = null;\nmsg = {\"payload\":\"reset\"};\nmsg.topic = \"control\";\nnode.send(msg);\n    \nmsg.payload = \"close\";\nmsg.topic = \"control\";\nnode.send(msg);\n    \n//configure the queu\nmsg=null;\nmsg = {\"payload\":\"queue\"};\nmsg.topic = \"control\";\nnode.send(msg);\n\n//send the step sequence messages\nvar adv = global.get(\"AdvancedSteps\");\nadv.forEach(function(k,v){\n    var milli = k.TIME[0] * 1000;\n    global.set(\"StepStatus\", k.NAME[0]);\n    \n    msg=null;\n    msg = {\n        \"payload\": \"on\",\n        \"timeout\": 0,\n        \"warning\": 0 ,\n        \"stepname\": \"Move Arm\" ,\n        \"steptemp\": 0 ,\n        \"steptime\": 0 ,\n        \"steplocation\": Number(k.LOCATION[0]) ,\n        \"stepdrain\": 0 \n    };\n    node.send(msg);\n    \n    msg=null;\n    msg = {\n        \"payload\": \"on\",\n        \"timeout\": k.TIME[0],\n        \"warning\": 0 ,\n        \"stepname\": k.NAME[0] ,\n        \"steptemp\": k.TEMP[0] ,\n        \"steptime\": k.TIME[0] ,\n        \"steplocation\": Number(k.LOCATION[0]) ,\n        \"stepdrain\": k.DRAIN[0] \n    };\n    node.send(msg);\n    \n    if(parseInt(k.DRAIN[0]) !== 0){\n        msg=null;\n        msg = {\n                \"payload\": \"on\",\n                \"timeout\": 0, //k.DRAIN[0]\n                \"warning\": 0,\n                \"stepname\": \"Drain\",\n                \"steptemp\": 0,\n                \"steptime\": 0, //k.DRAIN[0]\n                \"steplocation\": 6, //k.LOCATION[0] \n                \"stepdrain\": k.DRAIN[0] \n        };\n        node.send(msg);\n    }\n});\n\n//send recipe complete\nmsg = null;\nmsg = {\"payload\":\"stop\",\n        \"end\":\"END\"\n};\n\nreturn msg;\n//\n//{\"NAME\":[\"Heat to Temp\"],\"TEMP\":[\"102\"],\"TIME\":[\"0\"],\"LOCATION\":[\"0\"],\"DRAIN\":[\"0\"]}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":500,"wires":[["7c409433.fd77bc"]]},{"id":"9a3d6bd8.957898","type":"function","z":"1fc7a19f.bc5d4e","name":"Complete","func":"if (msg.payload == \"stop\") {\n    //var dm = global.get(\"DemoMode\") || false;\n    \n    //if(dm == true){\n        //global.set(\"StartDemo\", true);\n    //}\n    \n    global.set(\"StepStatus\", \"COMPLETE\") ;\n    \n    msg = null;\n    msg = {\"payload\":\"trigger\"};\n    msg.topic = \"control\";\n    node.send(msg);\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":420,"wires":[["7c409433.fd77bc"]]},{"id":"d0c2e92f.a51f18","type":"function","z":"1fc7a19f.bc5d4e","name":"Get Step Name","func":"var step = msg.stepname; \nmsg.payload = step;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":620,"wires":[["5edf571e.e41e68"]]},{"id":"9095ffb5.441a1","type":"function","z":"1fc7a19f.bc5d4e","name":"Get Temp Setpoint","func":"var temp = msg.steptemp; \nmsg.payload = temp;\nglobal.set(\"SetPoint\", temp);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":660,"wires":[["1f3a63b3.efac4c"]]},{"id":"f569856a.87fe68","type":"function","z":"1fc7a19f.bc5d4e","name":"Get Step Time","func":"var time = msg.steptime; \nmsg.payload = time;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":700,"wires":[["3bcadbaa.a0cb14"]]},{"id":"7c409433.fd77bc","type":"q-gate","z":"1fc7a19f.bc5d4e","name":"Recipe Step Queue","controlTopic":"control","defaultState":"closed","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","queueCmd":"queue","defaultCmd":"default","triggerCmd":"trigger","flushCmd":"flush","resetCmd":"reset","peekCmd":"peek","dropCmd":"drop","statusCmd":"status","maxQueueLength":"100","keepNewest":false,"qToggle":false,"persist":false,"x":750,"y":420,"wires":[["d0c2e92f.a51f18","9095ffb5.441a1","f569856a.87fe68","756b22b6.7b2a8c"]]},{"id":"b20900fa.a0736","type":"ui_button","z":"1f73b0a5.8b568f","name":"Wort Pump ON","group":"42c2977a.e43cc8","order":6,"width":3,"height":1,"passthru":false,"label":"ON","tooltip":"","color":"green","bgcolor":"white","icon":"","payload":"1","payloadType":"num","topic":"state","x":480,"y":300,"wires":[["e7446e8a.d234c","3726ab1.40bb554"]]},{"id":"101183e4.aa5bdc","type":"ui_button","z":"1f73b0a5.8b568f","name":"Wort Pump OFF","group":"42c2977a.e43cc8","order":7,"width":3,"height":1,"passthru":false,"label":"OFF","tooltip":"","color":"red","bgcolor":"white","icon":"","payload":"0","payloadType":"num","topic":"state","x":480,"y":340,"wires":[["36ba2f84.a8b8c","76fb66eb.353748"]]},{"id":"e7446e8a.d234c","type":"link out","z":"1f73b0a5.8b568f","name":"Wort Pump On","links":["39d28d0c.232292"],"x":775,"y":300,"wires":[]},{"id":"36ba2f84.a8b8c","type":"link out","z":"1f73b0a5.8b568f","name":"Wort Pump Off","links":["39d28d0c.232292"],"x":635,"y":340,"wires":[]},{"id":"5edf571e.e41e68","type":"link out","z":"1fc7a19f.bc5d4e","name":"Step Name","links":["7e23b733.cbf168"],"x":1175,"y":620,"wires":[]},{"id":"9a6bcfe4.829ae","type":"link out","z":"1fc7a19f.bc5d4e","name":"Recipe Name","links":["b63606ff.25f608"],"x":1175,"y":740,"wires":[]},{"id":"72279f6d.b4a43","type":"ui_text","z":"1f73b0a5.8b568f","group":"9ff1216a.31025","order":4,"width":0,"height":0,"name":"StepTime (Recipe)","label":"Step Time","format":"{{msg.payload}}","layout":"row-spread","x":1090,"y":700,"wires":[]},{"id":"68c7dd01.af2b84","type":"link in","z":"1f73b0a5.8b568f","name":"Step Timer","links":["7ba43328.fb774c","66bb1a0c.098ca4","b0052664.1a7b28","eb332b19.35f788","947ce2e2.99f3"],"x":935,"y":700,"wires":[["72279f6d.b4a43"]]},{"id":"a19fa977.5e2d38","type":"ui_text","z":"1f73b0a5.8b568f","group":"9ff1216a.31025","order":1,"width":0,"height":0,"name":"RecipeName","label":"Recipe Name","format":"{{msg.payload}}","layout":"row-spread","x":1070,"y":740,"wires":[]},{"id":"b63606ff.25f608","type":"link in","z":"1f73b0a5.8b568f","name":"Recipe Name","links":["9a6bcfe4.829ae"],"x":935,"y":740,"wires":[["a19fa977.5e2d38"]]},{"id":"51b0c88c.e12928","type":"ui_text","z":"1f73b0a5.8b568f","group":"9ff1216a.31025","order":3,"width":0,"height":0,"name":"StepName","label":"Step Name","format":"{{msg.payload}}","layout":"row-spread","x":1070,"y":780,"wires":[]},{"id":"7e23b733.cbf168","type":"link in","z":"1f73b0a5.8b568f","name":"Step Name","links":["5edf571e.e41e68"],"x":935,"y":780,"wires":[["51b0c88c.e12928"]]},{"id":"756b22b6.7b2a8c","type":"function","z":"1fc7a19f.bc5d4e","name":"FlowController","func":"global.set(\"StartDemo\", false);\n\n//turn off RIMS element\nvar controlmsg = {\"payload\": 0, \"topic\":\"setpoint\"};\nglobal.set(\"SetPoint\", 0);\nnode.send([controlmsg, null, null, null, null]);\n\n//turn off wort pump\ncontrolmsg = {\"payload\": 0, \"topic\":\"state\"};\nnode.send([null, controlmsg, null, null, null]);\n\n//turn off drain pump\nnode.send([null, null, controlmsg, null, null]);\n\nif(msg.end == \"END\") {\n    //node.warn(msg);\n    \n    global.set(\"StepStatus\", \"STOP\");\n            \n    msg = null;\n    msg = {\"payload\":\"reset\"};\n    msg.topic = \"control\";\n    node.send([null, null, null, null, msg]);\n    \n    msg.payload = \"close\";\n    msg.topic = \"control\";\n    node.send([null, null, null, null, msg]);\n    \n    controlmsg = {\"payload\": \"HOME\", \"position\":1, \"init\":false};\n    node.send([null, null, null, controlmsg, null]);\n    \n} else {\n    node.warn(msg);\n    var stepTemp = parseInt(msg.steptemp);\n    global.set(\"SetPoint\", stepTemp);\n    global.set(\"StepStatus\", \"START\") ;\n    \n    //get step name\n    var step = msg.stepname;\n    switch(step)\n    {\n        case \"Move Arm\":\n            //get step arm position and move arm\n            var arm = msg.steplocation; \n            switch(parseInt(arm))\n            {\n                case 0:\n                    //bypass-1 is not used and there is no optic slot\n                    controlmsg = {\"payload\": \"BYPASS-1\", \"position\":arm, \"init\":false};\n                    break;\n                    \n                case 1:\n                    //home\n                    controlmsg = {\"payload\": \"HOME\", \"position\":arm, \"init\":false};\n                    break;\n                    \n                case 2:\n                    //adj 1\n                    controlmsg = {\"payload\": \"ADJ-1\", \"position\":arm, \"init\":false};\n                    break;\n                    \n                case 3:\n                    //adj 2\n                    controlmsg = {\"payload\": \"ADJ-2\", \"position\":arm, \"init\":false};\n                    break;\n                    \n                case 4:\n                    //adj 3\n                    controlmsg = {\"payload\": \"ADJ-3\", \"position\":arm, \"init\":false};\n                    break;\n                    \n                case 5:\n                    //adj 4\n                    controlmsg = {\"payload\": \"ADJ-4\", \"position\":arm, \"init\":false};\n                    break;\n                    \n                case 6:\n                    //bypass\n                    controlmsg = {\"payload\": \"BYPASS-2\", \"position\":arm, \"init\":false};\n                    break;\n            }\n            node.send([null, null, null, controlmsg, null]);\n            break;\n            \n        case \"Heat to Temp\":\n        case \"Heat to Dough In\":\n        case \"Heat to Mash\":\n        case \"Heat to Mash 1\":\n        case \"Heat to Mash 2\":\n        case \"Heat to Mash 3\":\n        case \"Heat to Mash 4\":\n        case \"Heat to Mash 5\":\n        case \"Heat to MO\":\n        case \"Heat to Mash Out\":\n        case \"Heat to Boil\":\n        case \"Pre-Hop Boil\":\n            var dm = global.get(\"DemoMode\") || false;\n            if(dm == true){\n                global.set(\"StartDemo\", true);\n            }\n            //turn on drain pump\n            controlmsg = {\"payload\": 1, \"topic\":\"state\"};\n            node.send([null, null, controlmsg, null, null]);\n            //turn on wort pump\n            node.send([null, controlmsg, null, null, null]);\n            //turn on RIMS element\n            controlmsg = {\"payload\": stepTemp, \"topic\":\"setpoint\"};\n            node.send([controlmsg, null, null, null, null]);\n            break;\n            \n        case \"Dough In\":\n        case \"Mash 1\":\n        case \"Mash 2\":\n        case \"Mash 3\":\n        case \"Mash 4\":\n        case \"Mash 5\":\n        case \"Mash Out\":\n        case \"MO\":\n            //turn on drain pump\n            controlmsg = {\"payload\": 1, \"topic\":\"state\"};\n            node.send([null, null, controlmsg, null, null]);\n            //turn on wort pump\n            controlmsg = {\"payload\": 1, \"topic\":\"timed\", \"duration\": msg.steptime};\n            node.send([null, controlmsg, null, null, null]);\n            //turn on RIMS element\n            controlmsg = {\"payload\": stepTemp, \"topic\":\"setpoint\"};\n            node.send([controlmsg, null, null, null, null]);\n            break;\n            \n        case \"Boil Adjunct 1\":\n        case \"Boil Adjunct 2\":\n        case \"Boil Adjunct 3\":\n        case \"Boil Adjunct 4\":\n            //turn on drain pump\n            controlmsg = {\"payload\": 1, \"topic\":\"state\"};\n            node.send([null, null, controlmsg, null, null]);\n            //turn on wort pump\n            controlmsg = {\"payload\": 1, \"topic\":\"timed\", \"duration\": msg.steptime};\n            node.send([null, controlmsg, null, null, null]);\n            //turn on RIMS element\n            controlmsg = {\"payload\": stepTemp, \"topic\":\"setpoint\"};\n            node.send([controlmsg, null, null, null, null]);\n            break;\n            \n        //case \"Connect Chiller\":\n            //break;\n        //case \"Chill\":\n            //break;\n    \n        case \"Drain\":\n            //turn on drain pump\n            var duration = msg.stepdrain; \n            controlmsg = {\"payload\": 1, \"duration\": duration, \"topic\":\"timed\"};\n            node.send([null, null, controlmsg, null, null]);\n            break;\n    }\n}","outputs":5,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":420,"wires":[["add00f65.dd4fe","b2b4abc5.9bc498"],["b075ff8e.dd42f"],["31bd2202.12319e"],["6dc135ef.7702ac"],["dc367307.b488f"]]},{"id":"6dc135ef.7702ac","type":"link out","z":"1fc7a19f.bc5d4e","name":"MoveArmToPosition","links":["efd83bc9.317fa8","385ccd79.7543d2","4e5e8157.378cd"],"x":1195,"y":460,"wires":[]},{"id":"3b5e5627.77524a","type":"link in","z":"1fc7a19f.bc5d4e","name":"StepComplete","links":["57a7d7f6.674678","45c62f90.78fb4","192c65fc.639caa","cd1c3e15.7b856","57c9df74.e149c"],"x":155,"y":420,"wires":[["9a3d6bd8.957898"]]},{"id":"58ef71be.8e382","type":"link in","z":"f614aecb.472f","name":"Drain Pump Control","links":["31bd2202.12319e","ec955099.f8b82","818253e2.23f72"],"x":175,"y":220,"wires":[["6f50588c.49b008"]]},{"id":"a8c0e42b.458758","type":"mytimeout","z":"f614aecb.472f","name":"Drain Timer","outtopic":"","outsafe":"start","outwarning":"","outunsafe":"stop","warning":"0","timer":"","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":590,"y":180,"wires":[["57a7d7f6.674678","86414c87.81ade"],["66bb1a0c.098ca4"]]},{"id":"cbc3ec78.0c3fc","type":"function","z":"f614aecb.472f","name":"START","func":"var duration = msg.duration;\nmsg = null;\nmsg = {\n    \"payload\": \"on\",\n    \"timeout\": duration,\n    \"warning\": 0 \n};\nglobal.set(\"DRAINPUMP\", \"ON\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":200,"wires":[["a8c0e42b.458758","a6a31f81.cd0fc"]]},{"id":"66bb1a0c.098ca4","type":"link out","z":"f614aecb.472f","name":"StepTimer","links":["68c7dd01.af2b84"],"x":795,"y":220,"wires":[]},{"id":"57a7d7f6.674678","type":"link out","z":"f614aecb.472f","name":"StepComplete","links":["3b5e5627.77524a"],"x":795,"y":180,"wires":[]},{"id":"31bd2202.12319e","type":"link out","z":"1fc7a19f.bc5d4e","name":"Drain Pump Control","links":["58ef71be.8e382"],"x":1195,"y":420,"wires":[]},{"id":"a6a31f81.cd0fc","type":"change","z":"f614aecb.472f","name":"Set to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":360,"wires":[["ce50740a.f7ecc8","a1a85bd3.199738"]]},{"id":"d13f25b0.1656e8","type":"ui_button","z":"1f73b0a5.8b568f","name":"Drain Pump OFF","group":"46387ab8.1a5d94","order":4,"width":2,"height":1,"passthru":false,"label":"OFF","tooltip":"","color":"red","bgcolor":"white","icon":"","payload":"0","payloadType":"num","topic":"state","x":1030,"y":200,"wires":[["818253e2.23f72"]]},{"id":"818253e2.23f72","type":"link out","z":"1f73b0a5.8b568f","name":"Drain Pump OFF","links":["58ef71be.8e382"],"x":1295,"y":200,"wires":[]},{"id":"be0cefdd.a556e","type":"link out","z":"c64eaa0.570be58","name":"Wort Pump State","links":["226eb4b8.1835cc"],"x":1195,"y":220,"wires":[]},{"id":"270467c.fb5b098","type":"rpi-gpio out","z":"c64eaa0.570be58","name":"Wort Pump (GPIO06-31)","pin":"31","set":true,"level":"0","freq":"","out":"out","x":1250,"y":420,"wires":[]},{"id":"39d28d0c.232292","type":"link in","z":"c64eaa0.570be58","name":"Wort Pump Control","links":["b075ff8e.dd42f","e7446e8a.d234c","36ba2f84.a8b8c"],"x":155,"y":280,"wires":[["28cc3fcd.c313"]]},{"id":"d57773dd.d5d37","type":"mytimeout","z":"c64eaa0.570be58","name":"Wort Timer","outtopic":"","outsafe":"start","outwarning":"","outunsafe":"stop","warning":"0","timer":"","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":670,"y":200,"wires":[["192c65fc.639caa","449b07da.d8ca88"],["b0052664.1a7b28"]]},{"id":"54975571.11242c","type":"function","z":"c64eaa0.570be58","name":"START","func":"var duration = msg.duration;\nmsg = null;\nmsg = {\n    \"payload\": \"on\",\n    \"timeout\": duration,\n    \"warning\": 0 \n};\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":240,"wires":[["d57773dd.d5d37","6e1f7d8e.feb584"]]},{"id":"b0052664.1a7b28","type":"link out","z":"c64eaa0.570be58","name":"StepTimer","links":["68c7dd01.af2b84"],"x":775,"y":260,"wires":[]},{"id":"192c65fc.639caa","type":"link out","z":"c64eaa0.570be58","name":"StepComplete","links":["3b5e5627.77524a"],"x":1195,"y":160,"wires":[]},{"id":"6e1f7d8e.feb584","type":"change","z":"c64eaa0.570be58","name":"Set to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":340,"wires":[["270467c.fb5b098","be0cefdd.a556e"]]},{"id":"b075ff8e.dd42f","type":"link out","z":"1fc7a19f.bc5d4e","name":"Wort Pump Control","links":["39d28d0c.232292"],"x":1195,"y":380,"wires":[]},{"id":"e5dc6277.87427","type":"link out","z":"f50bcbeb.8aa948","name":"RIMS Control","links":["fac9ed5e.c5eaa"],"x":1215,"y":260,"wires":[]},{"id":"fac9ed5e.c5eaa","type":"link in","z":"9feeac49.c2931","name":"RIMS Control","links":["e5dc6277.87427"],"x":175,"y":260,"wires":[["40d7ac87.d93cf4"]]},{"id":"add00f65.dd4fe","type":"link out","z":"1fc7a19f.bc5d4e","name":"Step Temp Setpoint","links":["de2e9ef9.b55ad"],"x":1195,"y":340,"wires":[]},{"id":"7a0f70f.b164d9","type":"link out","z":"1fc7a19f.bc5d4e","name":"Reset Timer","links":["20586e30.721e72","242fbf0.9bf5742","ab6fdb94.8526c8","b9b0c05d.41f38"],"x":1195,"y":180,"wires":[]},{"id":"6f50588c.49b008","type":"switch","z":"f614aecb.472f","name":"Timer vs State","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"timed","vt":"str"},{"t":"eq","v":"state","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":260,"y":300,"wires":[["cbc3ec78.0c3fc"],["a1a85bd3.199738","ec45a132.d86d5"]]},{"id":"ae582b8d.a308a8","type":"switch","z":"c64eaa0.570be58","name":"Timer vs State","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"timed","vt":"str"},{"t":"eq","v":"state","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":380,"y":420,"wires":[["54975571.11242c"],["270467c.fb5b098","be0cefdd.a556e"]]},{"id":"40d7ac87.d93cf4","type":"function","z":"9feeac49.c2931","name":"RIMS CONTROL","func":"var dm =  global.get(\"DemoMode\") || false;\nvar sd = global.get(\"StartDemo\") || false;\nvar ss = global.get(\"StepStatus\") || \"STOP\";\nvar relay = flow.get(\"RIMSRELAY\") || 0;\nvar controlmsg = null;\n\n//node.warn(ss);\n\nif(ss == \"START\"){\n    //check if we are in demo mode\n    if(dm != true) {\n        //OUT#3 send to GPIO for RELAY\n        controlmsg = {\"payload\":1};\n        node.send([null, null, controlmsg, null]);\n        flow.set(\"RIMSRELAY\", 1);\n        \n        //OUT#2 send to GPIO for SSR\n        node.send([null, msg, null, null]);\n        \n    } else if(sd == true) {\n        //OUT#2 & #3 send to GPIO\n        controlmsg = {\"payload\":0};\n        node.send([null, controlmsg, controlmsg, null]);\n        flow.set(\"RIMSRELAY\", 0);\n        \n        //OUT#4 demo mode\n        controlmsg = null;\n        controlmsg = {\n                \"payload\": \"on\",\n                \"timeout\": 10,\n                \"warning\": 0 \n            };\n        node.send([null, null, null, controlmsg]);\n        global.set(\"StartDemo\", false);\n    }\n}\nelse if(relay != 0) {\n    controlmsg = {\"payload\":0};\n    node.send([null, controlmsg, controlmsg, null]);\n    flow.set(\"RIMSRELAY\", 0);\n}\n\n","outputs":4,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":260,"wires":[["57c9df74.e149c"],["e84dc68e.241c68","545ba6d3.3f6188"],["d538e48d.da23e8"],["9cfe9f08.fe2b6"]]},{"id":"57c9df74.e149c","type":"link out","z":"9feeac49.c2931","name":"Step Complete","links":["3b5e5627.77524a"],"x":815,"y":440,"wires":[]},{"id":"2bf15a7a.b252c6","type":"function","z":"f50bcbeb.8aa948","name":"Capture ProcessValue","func":"global.set(\"ProcessValue\", msg.payload)\n    \nvar ss = global.get(\"StepStatus\") || \"STOP\";\n\nif(ss == \"START\"){\n    msg.topic = \"processvalue\";\n    node.send(msg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":540,"wires":[["192f5a20.35c396","7ee04b01.300614"]]},{"id":"de1a7d44.67723","type":"link out","z":"1fc7a19f.bc5d4e","name":"Main Timer","links":["28bcebf3.51b214"],"x":1195,"y":140,"wires":[]},{"id":"f9bc9f5.d18c46","type":"ui_text","z":"1f73b0a5.8b568f","group":"9ff1216a.31025","order":2,"width":0,"height":0,"name":"Recipe Time","label":"Recipe Timer","format":"{{msg.payload}}","layout":"row-spread","x":1070,"y":660,"wires":[]},{"id":"28bcebf3.51b214","type":"link in","z":"1f73b0a5.8b568f","name":"Main Timer","links":["de1a7d44.67723"],"x":935,"y":660,"wires":[["f9bc9f5.d18c46"]]},{"id":"7742e8a1.546f88","type":"link in","z":"1fc7a19f.bc5d4e","name":"END IN","links":["dc367307.b488f"],"x":575,"y":540,"wires":[["7c409433.fd77bc"]]},{"id":"dc367307.b488f","type":"link out","z":"1fc7a19f.bc5d4e","name":"END OUT","links":["7742e8a1.546f88"],"x":1195,"y":500,"wires":[]},{"id":"8c25cc4f.15def","type":"link in","z":"654fe51f.a2a47c","name":"PID State","links":["b2b4abc5.9bc498"],"x":215,"y":480,"wires":[["6b89e8aa.c59698"]]},{"id":"b2b4abc5.9bc498","type":"link out","z":"1fc7a19f.bc5d4e","name":"PID State","links":["8c25cc4f.15def"],"x":1195,"y":300,"wires":[]},{"id":"6b89e8aa.c59698","type":"function","z":"654fe51f.a2a47c","name":"ENABLE/DISABLE","func":"var ss = global.get(\"StepStatus\") || \"STOP\";\nvar controlmsg = null;\n\nif(ss == \"START\"){\n    controlmsg = {\"payload\": 1, \"topic\": \"enable\"};\n    node.send(controlmsg);\n}\nelse{\n    controlmsg = {\"payload\": 0, \"topic\": \"enable\"};\n    node.send(controlmsg);\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":480,"wires":[["d8e0b4b4.a8e858"]]},{"id":"28cc3fcd.c313","type":"function","z":"c64eaa0.570be58","name":"Set pump state","func":"switch(parseInt(msg.payload))\n{\n    case 0:\n        global.set(\"WORTPUMP\", \"OFF\");\n        break;\n        \n    case 1:\n        global.set(\"WORTPUMP\", \"ON\");\n        break;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":280,"wires":[["ae582b8d.a308a8"]]},{"id":"449b07da.d8ca88","type":"function","z":"c64eaa0.570be58","name":"Set to 0 on stop","func":"if(msg.payload == \"stop\"){\n    msg.payload = 0;\n    global.set(\"WORTPUMP\", \"OFF\");\n    node.send(msg);\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":220,"wires":[["270467c.fb5b098","be0cefdd.a556e"]]},{"id":"86414c87.81ade","type":"function","z":"f614aecb.472f","name":"Set to 0 on stop","func":"if(msg.payload == \"stop\"){\n    msg.payload = 0;\n    global.set(\"DRAINPUMP\", \"OFF\");\n    node.send(msg);\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":120,"wires":[["a1a85bd3.199738","ce50740a.f7ecc8"]]},{"id":"991242b7.f7bf","type":"trigger","z":"1fc7a19f.bc5d4e","name":"","op1":"1","op2":"0","op1type":"num","op2type":"str","duration":"-1","extend":false,"units":"s","reset":"stop","bytopic":"all","outputs":1,"x":680,"y":100,"wires":[["9c10f906.ebe078"]]},{"id":"9c10f906.ebe078","type":"function","z":"1fc7a19f.bc5d4e","name":"SEC to HH:MM:SS","func":"var ss = global.get(\"StepStatus\") || \"STOP\";\nif(ss != \"STOP\"){\n    var p = parseInt(msg.payload);\n    var v = parseInt(global.get(\"MainTimer\")) + p;\n    var h = Math.floor(v / 3600);\n    var m = Math.floor(v / 60);\n    var s = v % 60;\n    msg.payload = h.toString().padStart(2,\"0\") + \":\" + m.toString().padStart(2,\"0\") + \":\" + s.toString().padStart(2,\"0\");\n    global.set(\"MainTimer\", v);\n    node.send([msg, null]);\n} else {\n    msg = {\"payload\":\"stop\", \"reset\":true};\n    node.send([null, msg]);\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":830,"y":160,"wires":[["de1a7d44.67723"],["991242b7.f7bf"]]},{"id":"f8d273fb.a8c36","type":"function","z":"1fc7a19f.bc5d4e","name":"Set Main Start to 0","func":"if(msg.payload == \"trigger\"){\n    global.set(\"MainTimer\", 0);\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":60,"wires":[["991242b7.f7bf"]]},{"id":"f0b8e9d0.5d3de8","type":"ui_text","z":"1f73b0a5.8b568f","group":"e3499e7d.16421","order":1,"width":0,"height":0,"name":"Rotation","label":"Rotation","format":"{{msg.direction}}","layout":"row-spread","x":1180,"y":320,"wires":[]},{"id":"48ce1225.38043c","type":"link in","z":"1f73b0a5.8b568f","name":"Rotation","links":["e26ec0b4.4e601","8e8dff7f.bf981"],"x":955,"y":320,"wires":[["f0b8e9d0.5d3de8"]]},{"id":"686fa9f4.112c58","type":"subflow:18363914.ff32b7","z":"dc3bdf74.e4669","name":"Wort Temp Sensor","env":[],"x":550,"y":140,"wires":[["374a7459.f9355c","16abfc4b.02bfa4","30fe2289.c235ee"]]},{"id":"374a7459.f9355c","type":"link out","z":"dc3bdf74.e4669","name":"Wort Temperature Display","links":["b7f95629.bbe988","eafb92cf.d9dd5"],"x":935,"y":180,"wires":[]},{"id":"59fa400e.656a3","type":"link out","z":"dc3bdf74.e4669","name":"HEX Temperature Display","links":["735338cf.856108"],"x":935,"y":340,"wires":[]},{"id":"54db0075.812bd","type":"link out","z":"dc3bdf74.e4669","name":"RIMS Temperature Display","links":["40f4689c.696858"],"x":935,"y":500,"wires":[]},{"id":"40f4689c.696858","type":"link in","z":"1f73b0a5.8b568f","name":"RIMS Tempertue Display","links":["54db0075.812bd"],"x":235,"y":500,"wires":[["ed25739c.7ccef"]]},{"id":"735338cf.856108","type":"link in","z":"1f73b0a5.8b568f","name":"HEX Temperature Display","links":["59fa400e.656a3"],"x":235,"y":580,"wires":[["3157d7d2.4d7738","f809f3a9.bfc9f"]]},{"id":"16abfc4b.02bfa4","type":"link out","z":"dc3bdf74.e4669","name":"Wort Temperature Value","links":["593729c0.6e8778"],"x":935,"y":100,"wires":[]},{"id":"c2db394e.84c328","type":"link out","z":"dc3bdf74.e4669","name":"RIMS Temperature Value","links":["3a3eef3f.27bf5","4dda00e0.2fff1"],"x":935,"y":420,"wires":[]},{"id":"209ab1ea.b3a30e","type":"link out","z":"dc3bdf74.e4669","name":"HEX Temperature Value","links":["9c411f0b.8dbe4","c89f6f99.ecd19"],"x":935,"y":260,"wires":[]},{"id":"126fa1d0.fc4a1e","type":"sensor-ds18b20","z":"e2971073.9d0ff","name":"HEX Temperature (DS18B20)","topic":"","sensorid":"28-0115155fc2ff","timer":"1","repeat":false,"x":450,"y":80,"wires":[["db95dfe0.1b548"]]},{"id":"26011108.29e20e","type":"inject","z":"e2971073.9d0ff","name":"3 Seconds","repeat":"3","crontab":"","once":true,"onceDelay":"3","topic":"","payload":"","payloadType":"date","x":190,"y":80,"wires":[["126fa1d0.fc4a1e"]]},{"id":"db95dfe0.1b548","type":"function","z":"e2971073.9d0ff","name":"C to F","func":"var tempc = msg.payload;\ntempf = (tempc * 9/5) +32;\ntempf = Math.round(tempf *10)/10;\nmsg.payload = tempf;\n//global.set(\"HEXTemperature\", tempf);\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":80,"wires":[[]]},{"id":"c233c67f.8cb8e8","type":"subflow:e2971073.9d0ff","z":"dc3bdf74.e4669","name":"Hex Temp Sensor","env":[],"x":550,"y":300,"wires":[["59fa400e.656a3","209ab1ea.b3a30e","d53a2ca6.b2434"]]},{"id":"e933e2f.5bc392","type":"sensor-ds18b20","z":"8358403d.5f2cb","name":"RIMS Temperature (DS18B20)","topic":"","sensorid":"28-000006a5da0a","timer":"1","repeat":false,"x":530,"y":180,"wires":[["73dc9c9.d686964"]]},{"id":"edc06442.d43418","type":"inject","z":"8358403d.5f2cb","name":"3 Seconds","repeat":"3","crontab":"","once":true,"onceDelay":"3","topic":"","payload":"","payloadType":"date","x":270,"y":180,"wires":[["e933e2f.5bc392"]]},{"id":"73dc9c9.d686964","type":"function","z":"8358403d.5f2cb","name":"C to F","func":"var tempc = msg.payload;\ntempf = (tempc * 9/5) +32;\ntempf = Math.round(tempf *10)/10;\nmsg.payload = tempf;\n//global.set(\"RIMSTemperature\", tempf);\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":180,"wires":[[]]},{"id":"904604f5.e771f8","type":"subflow:8358403d.5f2cb","z":"dc3bdf74.e4669","name":"RIMS Temp Sensor","env":[],"x":550,"y":460,"wires":[["c2db394e.84c328","54db0075.812bd","a75754c1.96ba78"]]},{"id":"709a5f43.8e15c","type":"inject","z":"1f73b0a5.8b568f","name":"Clear chart on deploy","props":[{"p":"payload","v":"{\"data\":[]}","vt":"json"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":true,"topic":"","payload":"{\"data\":[]}","payloadType":"json","x":260,"y":420,"wires":[["9b2f1448.d62518"]]},{"id":"9b2f1448.d62518","type":"change","z":"1f73b0a5.8b568f","name":"","rules":[{"t":"move","p":"payload.data","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":420,"wires":[["f809f3a9.bfc9f","18b2f231.c6628e","51829788.ab2fc8"]]},{"id":"51829788.ab2fc8","type":"ui_chart","z":"1f73b0a5.8b568f","name":"STD DEV Chart","group":"9ff1216a.31025","order":7,"width":0,"height":0,"label":"Temperature Deviation","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#f0e805","#f5220a","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":480,"y":780,"wires":[[]]},{"id":"e5d4817a.257e","type":"link in","z":"1f73b0a5.8b568f","name":"STD DEV","links":["95393c6.c406cc","e5bcfec0.2b048"],"x":235,"y":780,"wires":[["51829788.ab2fc8","19ecd75c.5b4a89","8e218ee4.a52c2"]]},{"id":"19ecd75c.5b4a89","type":"change","z":"1f73b0a5.8b568f","name":"Warning","rules":[{"t":"set","p":"topic","pt":"msg","to":"warning","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"4","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":840,"wires":[["51829788.ab2fc8"]]},{"id":"8e218ee4.a52c2","type":"change","z":"1f73b0a5.8b568f","name":"Error","rules":[{"t":"set","p":"topic","pt":"msg","to":"error","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"6","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":880,"wires":[["51829788.ab2fc8"]]},{"id":"b9b0c05d.41f38","type":"link in","z":"c64eaa0.570be58","name":"Reset Wort Timer","links":["7a0f70f.b164d9"],"x":535,"y":80,"wires":[["d57773dd.d5d37","449b07da.d8ca88"]]},{"id":"20586e30.721e72","type":"link in","z":"f614aecb.472f","name":"Reset Drain Timer","links":["7a0f70f.b164d9"],"x":495,"y":80,"wires":[["a8c0e42b.458758","86414c87.81ade"]]},{"id":"436032a5.df146c","type":"link in","z":"654fe51f.a2a47c","name":"PID Enable","links":["dd45506a.b8559"],"x":215,"y":360,"wires":[["151e46cb.5b9b69"]]},{"id":"ab6fdb94.8526c8","type":"link in","z":"654fe51f.a2a47c","name":"PID Disable","links":["7a0f70f.b164d9"],"x":215,"y":400,"wires":[["4aceecfc.9b3914"]]},{"id":"dd45506a.b8559","type":"link out","z":"1fc7a19f.bc5d4e","name":"PID Enable","links":["436032a5.df146c"],"x":1195,"y":220,"wires":[]},{"id":"4c667a28.e973a4","type":"function","z":"5b61801b.9721b","name":"ADVANCED XML","func":"//check if the incoming message is from the Zymatic Recipe Crafter or Beersmith\nif(typeof msg.payload.RECIPES.RECIPE[0].ZYMATIC !== 'undefined') {\n    //this is a zymatic xml file just move on\n    //zymatic = msg.payload.RECIPES.RECIPE[0].ZYMATIC[0];\n} else {\n    //convert beerXML to zymaticXML\n    \n    //get the recipe payload and make it workable\n    var js = msg.payload.RECIPES.RECIPE[0];\n    JSON.stringify(js);\n    \n    //add the empty zymatic array\n    js[\"ZYMATIC\"] = [];\n    \n    //add the empty step object which is an object of arrays\n    js.ZYMATIC[0] = {\"STEP\":[]};\n    \n    //populate the step object with an object containing the step info array\n\tvar ms = js.MASH[0].MASH_STEPS[0].MASH_STEP;\n\tvar firstStep = true;\n\tvar stepTime = 0;\n\tvar lastTemp = 0;\n\t\n\t//BUILD THE MASH SECTION\n\t//payload.RECIPES.RECIPE[0].MASH[0].MASH_STEPS[0].MASH_STEP[0].NAME\n\tvar stepCount = 0;\n\tfor(let step of Object.keys(ms)) {\n\t    //var requiresDrain = false;\n\t    var tempc = Number(ms[step].STEP_TEMP[0]);\n        var tempf = (tempc * 9/5) +32;\n        tempf = Math.round(tempf *1)/1;\n\t    stepTime = Number(ms[step].STEP_TIME[0]);\n\t    stepTime = stepTime.toFixed(0);\n\t    ms[step].STEP_TIME[0] = stepTime;\n\t    \n\t\tif(firstStep){\n\t\t\tjs.ZYMATIC[0].STEP[0] = {\"NAME\":[\"Heat to \" + ms[step].NAME[0]], \"TEMP\":[tempf], \"TIME\":[\"0\"], \"LOCATION\":[\"6\"], \"DRAIN\":[\"0\"]};\n\t\t\tstepCount += 1;\n\t\t\tfirstStep = false;\n\t\t\tlastTemp = tempf;\n\t\t} else if((tempf - lastTemp) > 5) {\n\t\t    //last step needs a drain\n\t\t    js.ZYMATIC[0].STEP[stepCount-1].DRAIN[0] = \"5\";\n\t\t    \n\t        //greater than 5 degrees needs a heat step\n\t\t\tjs.ZYMATIC[0].STEP.push({\"NAME\":[\"Heat to \" + ms[step].NAME[0]], \"TEMP\":[tempf], \"TIME\":[\"0\"], \"LOCATION\":[\"6\"], \"DRAIN\":[\"0\"]});\n\t\t    stepCount += 1;\n\t\t    lastTemp = tempf;\n\t\t}\n\t\t\n\t\tjs.ZYMATIC[0].STEP.push({\"NAME\":[ms[step].NAME[0]], \"TEMP\":[tempf], \"TIME\":[stepTime], \"LOCATION\":[\"1\"], \"DRAIN\":[\"0\"]});\n\t\tstepCount += 1;\n\t}\n    //last mash needs a drain step\n    js.ZYMATIC[0].STEP[stepCount-1].DRAIN[0] = \"8\";\n    //payload.RECIPES.RECIPE[0].ZYMATIC[0].STEP[3].DRAIN[0]\n    \n    //EXTRACT THE BOIL PARAMETERS\n    var hs = js.HOPS[0].HOP;\n\tvar numberHops = hs.length;\n\tvar firstHop = true;\n\tvar hopMap = new Map();\n\tvar hc = 1;\n\t\n\tfor(let hopTime of Object.keys(hs)) {\n\t    var ht = Number(hs[hopTime].TIME[0]);\n\t    hopMap.set('Boil Adjunct ' + hc, ht)\n\t    hc += 1;\n\t}\n\t\n\tvar one = 0;\n\tvar two = 0;\n\tvar three = 0;\n\t\n    if (!hopMap.has('Boil Adjunct 4')) {\n        hopMap.set('Boil Adjunct 4', '0');\n    }\n\tif (hopMap.has('Boil Adjunct 3') && (Number(hopMap.get('Boil Adjunct 4')) > 0)) {\n        three = (Number(hopMap.get('Boil Adjunct 3')) - Number(hopMap.get('Boil Adjunct 4')));\n        hopMap.set('Boil Adjunct 3', three);\n    } else if(!hopMap.has('Boil Adjunct 3')) {\n        //add the Adjunct compartment for use in the calculation\n        hopMap.set('Boil Adjunct 3', '0');\n    }\n    if (hopMap.has('Boil Adjunct 2') && (Number(hopMap.get('Boil Adjunct 3')) > 0)) {\n        two = (Number(hopMap.get('Boil Adjunct 2')) - Number(hopMap.get('Boil Adjunct 1')));\n        hopMap.set('Boil Adjunct 2', two);\n    } else if(!hopMap.has('Boil Adjunct 2')) {\n        //add the Adjunct compartment for use in the calculation\n        hopMap.set('Boil Adjunct 2', '0');\n    }\n    if (hopMap.has('Boil Adjunct 1') && (Number(hopMap.get('Boil Adjunct 2')) > 0)) {\n        one = (Number(hopMap.get('Boil Adjunct 1')) - Number(hopMap.get('Boil Adjunct 2')));\n        hopMap.set('Boil Adjunct 1', one);\n    } else if(!hopMap.has('Boil Adjunct 1')) {\n        //add the Adjunct compartment for use in the calculation\n        hopMap.set('Boil Adjunct 1', '0');\n    }\n    \n    var actualTime = Number(hopMap.get('Boil Adjunct 1')) + Number(hopMap.get('Boil Adjunct 2')) + Number(hopMap.get('Boil Adjunct 3')) + Number(hopMap.get('Boil Adjunct 4'));\n    var preHopTime = (60 - actualTime);\n    \n    //BUILD THE BOIL SECTION\n    js.ZYMATIC[0].STEP.push({\"NAME\":[\"Heat to Boil\"], \"TEMP\":[\"207\"], \"TIME\":[\"0\"], \"LOCATION\":[\"6\"], \"DRAIN\":[\"0\"]});\n    stepCount += 1;\n    \n    if(preHopTime > 0){\n\t    js.ZYMATIC[0].STEP.push({\"NAME\":[\"Pre-Hop Boil\"], \"TEMP\":[\"207\"], \"TIME\":[preHopTime], \"LOCATION\":[\"6\"], \"DRAIN\":[\"0\"]});\n        stepCount += 1;\n    }\n\t    \n    if (hopMap.has('Boil Adjunct 1') && (Number(hopMap.get('Boil Adjunct 1')) > 0)) {\n        js.ZYMATIC[0].STEP.push({\"NAME\":[\"Boil Adjunct 1\"], \"TEMP\":[\"207\"], \"TIME\":[hopMap.get('Boil Adjunct 1')], \"LOCATION\":[\"2\"], \"DRAIN\":[\"0\"]});\n        stepCount += 1;\n    }\n\tif (hopMap.has('Boil Adjunct 2') && (Number(hopMap.get('Boil Adjunct 2')) > 0)) {\n        js.ZYMATIC[0].STEP.push({\"NAME\":[\"Boil Adjunct 2\"], \"TEMP\":[\"207\"], \"TIME\":[hopMap.get('Boil Adjunct 2')], \"LOCATION\":[\"3\"], \"DRAIN\":[\"0\"]});\n        stepCount += 1;\n    }\n    if (hopMap.has('Boil Adjunct 3') && (Number(hopMap.get('Boil Adjunct 3')) > 0)) {\n        js.ZYMATIC[0].STEP.push({\"NAME\":[\"Boil Adjunct 3\"], \"TEMP\":[\"207\"], \"TIME\":[hopMap.get('Boil Adjunct 3')], \"LOCATION\":[\"4\"], \"DRAIN\":[\"0\"]});\n        stepCount += 1;\n    }\n    if (hopMap.has('Boil Adjunct 4') && (Number(hopMap.get('Boil Adjunct 4')) > 0)) {\n        js.ZYMATIC[0].STEP.push({\"NAME\":[\"Boil Adjunct 4\"], \"TEMP\":[\"207\"], \"TIME\":[hopMap.get('Boil Adjunct 4')], \"LOCATION\":[\"5\"], \"DRAIN\":[\"0\"]});\n        stepCount += 1;\n    }\n\n    //add a final drain\n    js.ZYMATIC[0].STEP[stepCount-1].DRAIN[0] = \"8\";\n    \n    //place the converted xml into the message object\n    msg.payload.RECIPES.RECIPE[0] = js;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":80,"wires":[[]]},{"id":"68b99eb4.590f7","type":"link in","z":"1f73b0a5.8b568f","name":"OPTIC Sensor","links":["2423ff65.9a4fe","8ae45a64.82b298","8bac0f8b.0ee83","40551ab7.6c20f4"],"x":955,"y":500,"wires":[["fec51326.16ef2"]]},{"id":"fec51326.16ef2","type":"ui_led","z":"1f73b0a5.8b568f","order":4,"group":"e3499e7d.16421","width":0,"height":0,"label":"Optic Sensor State","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"0","valueType":"num"},{"color":"green","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"name":"Stepper Arm Optic Sensor State","x":1250,"y":500,"wires":[]},{"id":"14759ec0.3dbd21","type":"change","z":"1fc7a19f.bc5d4e","name":"Set Temp to 0","rules":[{"t":"set","p":"steptemp","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":660,"wires":[["9095ffb5.441a1"]]},{"id":"be0739c5.206308","type":"function","z":"e362f1ef.8dd3","name":"STEPTIME","func":"var mash = msg.payload;\nmash.forEach(function (value,index){\n    var stepTime = Number(value.STEP_TIME[0]);\n    value.STEP_TIME[0] = stepTime.toFixed(0);\n});\nmsg.payload = mash;\nglobal.set(\"MashSteps\", mash);\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":120,"wires":[["cf50e8f2.58c858"]]},{"id":"8f3ce24b.0ce36","type":"function","z":"e362f1ef.8dd3","name":"HOPTIME","func":"var hops = msg.payload;\nhops.forEach(function (value,index){\n    //node.warn(value);\n    var hopTime = Number(value.TIME[0]);\n    value.TIME[0] = hopTime.toFixed(0);\n});\nmsg.payload = hops;\nglobal.set(\"HopsList\", hops);\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":200,"wires":[["3227665.304829a"]]},{"id":"3227665.304829a","type":"function","z":"e362f1ef.8dd3","name":"KGtoOZ","func":"//v.AMOUNT[0] * 35.274).toFixed(2)\nvar hops = msg.payload;\nhops.forEach(function (value,index){\n    var hopAmount = Number(value.AMOUNT[0]);\n    hopAmount = hopAmount * 35.274;\n    value.AMOUNT[0] = hopAmount.toFixed(2);\n});\nmsg.payload = hops;\nglobal.set(\"HopsList\", hops);\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":200,"wires":[["fd9f954f.6e0918"]]},{"id":"eafb92cf.d9dd5","type":"link in","z":"2ea11baa.85beb4","name":"Wort Temperature Value","links":["374a7459.f9355c"],"x":175,"y":220,"wires":[["d3b5961e.df43d8"]]},{"id":"c89f6f99.ecd19","type":"link in","z":"2ea11baa.85beb4","name":"HEX Temperature Value","links":["209ab1ea.b3a30e"],"x":175,"y":280,"wires":[["54bac42d.1f340c"]]},{"id":"4dda00e0.2fff1","type":"link in","z":"2ea11baa.85beb4","name":"RIMS Temperature Value","links":["c2db394e.84c328"],"x":175,"y":340,"wires":[["f3346ae8.83c228"]]},{"id":"91368429.561d28","type":"function","z":"2ea11baa.85beb4","name":"Temp Monitor","func":"var wt = global.get(\"wort_temp\");\nvar ht = global.get(\"hex_temp\");\nvar rt = global.get(\"rims_temp\");\n\nvar array = [wt, ht, rt];\n\nconst n = array.length;\nconst mean = array.reduce((a,b) => a+b)/n;\nconst s = Math.sqrt(array.map(x => Math.pow(x-mean,2)).reduce((a,b) => a+b)/n);\n\nmsg.payload = s;\nmsg.topic = \"STD DEV\";\n\nreturn msg;","outputs":1,"noerr":0,"x":1035,"y":280,"wires":[["e5bcfec0.2b048"]]},{"id":"d3b5961e.df43d8","type":"change","z":"2ea11baa.85beb4","name":"Wort Temp","rules":[{"t":"set","p":"wort_temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":305,"y":220,"wires":[["73a0f3a8.e87c2c"]]},{"id":"54bac42d.1f340c","type":"change","z":"2ea11baa.85beb4","name":"HEX Temp","rules":[{"t":"set","p":"hex_temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":305,"y":280,"wires":[["b703718.be6bc9"]]},{"id":"f3346ae8.83c228","type":"change","z":"2ea11baa.85beb4","name":"RIMS Temp","rules":[{"t":"set","p":"rims_temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":305,"y":340,"wires":[["8ec4ebec.996188"]]},{"id":"73a0f3a8.e87c2c","type":"rbe","z":"2ea11baa.85beb4","name":"Wort Change","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":745,"y":220,"wires":[["91368429.561d28"]]},{"id":"b703718.be6bc9","type":"rbe","z":"2ea11baa.85beb4","name":"HEX Change","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":745,"y":280,"wires":[["91368429.561d28"]]},{"id":"8ec4ebec.996188","type":"rbe","z":"2ea11baa.85beb4","name":"RIMS Change","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":755,"y":340,"wires":[["91368429.561d28"]]},{"id":"e5bcfec0.2b048","type":"link out","z":"2ea11baa.85beb4","name":"STD DEV","links":["e5d4817a.257e"],"x":1250,"y":280,"wires":[]},{"id":"d538e48d.da23e8","type":"rpi-gpio out","z":"9feeac49.c2931","name":"RIMS Relay (GPIO5-29)","pin":"29","set":true,"level":"0","freq":"","out":"out","x":1210,"y":280,"wires":[]},{"id":"9a2fdb0b.5bc728","type":"rpi-gpio out","z":"aaed3395.9513c","name":"EXP-4 (GPIO19-35)","pin":"35","set":true,"level":"0","freq":"","out":"out","x":870,"y":300,"wires":[]},{"id":"b0d23493.855668","type":"rpi-gpio out","z":"aaed3395.9513c","name":"EXP-5 (GPIO26-37)","pin":"37","set":true,"level":"0","freq":"","out":"out","x":860,"y":500,"wires":[]},{"id":"e02c8f42.a45af","type":"inject","z":"aaed3395.9513c","name":"OFF","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":540,"y":460,"wires":[["b0d23493.855668"]]},{"id":"c685bebe.8ab42","type":"inject","z":"aaed3395.9513c","name":"ON","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":540,"y":520,"wires":[["b0d23493.855668"]]},{"id":"4991e7a9.0a5308","type":"inject","z":"aaed3395.9513c","name":"OFF","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":550,"y":260,"wires":[["9a2fdb0b.5bc728"]]},{"id":"f4563356.2c051","type":"inject","z":"aaed3395.9513c","name":"ON","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":550,"y":320,"wires":[["9a2fdb0b.5bc728"]]},{"id":"c3b175.2731de88","type":"function","z":"74dcde4.14da52","name":"Position Counts","func":"//node.warn(msg);\n\nvar lastPosition = global.get(\"currentPosition\");\nvar newPosition = 0;\nvar direction = \"CW\";\nvar absolute = 0;\nvar location = \"Moving\";\nflow.set('stepCount', lastPosition);\n\nswitch(parseInt(msg.position))\n{\n       case 0:\n            //bypass-1 is not used and there is no optic slot so default to Bypass-2\n            newPosition = 458 - lastPosition;\n            if(Math.sign(newPosition) == -1){\n                direction = \"CCW\";\n            }\n            absolute = 458;\n            location = \"Bypass-2\";\n            break;\n                    \n        case 1:\n            //home\n            newPosition = 0 - lastPosition;\n            if(Math.sign(newPosition) == -1){\n                direction = \"CCW\";\n            }\n            absolute = 0;\n            location = \"Home\";\n            break;\n                    \n        case 2:\n            //adj 1\n            newPosition = 231 - lastPosition;\n            if(Math.sign(newPosition) == -1){\n                direction = \"CCW\";\n            }\n            absolute = 231;\n            location = \"ADJ-1\";\n            break;\n                    \n        case 3:\n            //adj 2\n            newPosition = 298 - lastPosition;\n            if(Math.sign(newPosition) == -1){\n                direction = \"CCW\";\n            }\n            absolute = 298;\n            location = \"ADJ-2\";\n            break;\n                    \n        case 4:\n            //adj 3\n            newPosition = 364 - lastPosition;\n            if(Math.sign(newPosition) == -1){\n                direction = \"CCW\";\n            }\n            absolute = 364;\n            location = \"ADJ-3\";\n            break;\n                    \n        case 5:\n            //adj 4\n            newPosition = 431 - lastPosition;\n            if(Math.sign(newPosition) == -1){\n                direction = \"CCW\";\n            }\n            absolute = 431;\n            location = \"ADJ-4\";\n            break;\n                    \n        case 6:\n            //bypass-2\n            newPosition = 458 - lastPosition;\n            if(Math.sign(newPosition) == -1){\n                direction = \"CCW\";\n            }\n            absolute = 458;\n            location = \"Bypass-2\";\n            break;\n}\n\nif(newPosition != lastPosition) {\n    var enablemsg = {\"payload\":0};\n    node.send([null, null, enablemsg]);\n    \n    var directionmsg = {\"payload\":\"\", \"CurrentPosition\":lastPosition, \"direction\":direction};\n    node.send([null, directionmsg, null]);\n    \n    var controlmsg = {\"payload\": \"step\", \"count\":0, \"target\":Math.abs(newPosition), \"absolute\":absolute, \"direction\":direction, \"location\":location};\n    node.send([controlmsg, null, null]);\n}\n","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":240,"wires":[["5b6ae4cd.7d05ec","f2a9b0db.df059"],["d3b46efc.9aa3f"],["34367fc7.b8367"]]},{"id":"d3b46efc.9aa3f","type":"function","z":"74dcde4.14da52","name":"Direction","func":"//CW=0, CCW=1\nswitch(msg.direction)\n{\n       case \"CW\":\n            msg.payload = 0;\n            break;\n                    \n        case \"CCW\":\n            msg.payload = 1;\n            break;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":220,"wires":[["65bb7307.6ae86c"]]},{"id":"cbb4f645.2e9088","type":"inject","z":"74dcde4.14da52","name":"SEND CCW","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":830,"y":540,"wires":[["65bb7307.6ae86c"]]},{"id":"c7f42bae.5835a8","type":"inject","z":"74dcde4.14da52","name":"SEND CW","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":820,"y":500,"wires":[["65bb7307.6ae86c"]]},{"id":"7753e4b.01b801c","type":"change","z":"74dcde4.14da52","name":"DISABLE","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":140,"wires":[["34367fc7.b8367"]]},{"id":"34367fc7.b8367","type":"link out","z":"74dcde4.14da52","name":"ENABLE_STEPPER_ARM","links":["37436032.f1e6b"],"x":1175,"y":320,"wires":[]},{"id":"d2e52e6d.f99a5","type":"link out","z":"74dcde4.14da52","name":"STEP_STEPPER_ARM","links":["b8588a9d.cc2cd8"],"x":1175,"y":80,"wires":[]},{"id":"65bb7307.6ae86c","type":"link out","z":"74dcde4.14da52","name":"SET_STEPPER_ARM_DIRECTION","links":["f2cea8fb.b73d38"],"x":1155,"y":600,"wires":[]},{"id":"38550e3c.9501e2","type":"rpi-gpio in","z":"7030b9d1.374548","name":"Optic Sensor (GPIO21-40)","pin":"40","intype":"tri","debounce":"0","read":true,"x":150,"y":440,"wires":[["79478b0b.e5bfb4"]]},{"id":"54340294.93cb6c","type":"rpi-gpio out","z":"7030b9d1.374548","name":"StepperArmDirection (GPIO17-11)","pin":"11","set":true,"level":"0","freq":"","out":"out","x":580,"y":380,"wires":[]},{"id":"8905e4e4.eca6f8","type":"comment","z":"7030b9d1.374548","name":"DRV8825 ENABLE","info":"Logic nENBL 1 (high) to disable device outputs and indexer operation, logic nENBL 0 (low) to enable.","x":890,"y":200,"wires":[]},{"id":"37436032.f1e6b","type":"link in","z":"7030b9d1.374548","name":"STEPPER_MOTOR_ENABLE","links":["34367fc7.b8367"],"x":275,"y":180,"wires":[["a7521347.2c4d","64504b11.167424"]]},{"id":"b8588a9d.cc2cd8","type":"link in","z":"7030b9d1.374548","name":"STEPPER_ARM_STEP","links":["d2e52e6d.f99a5"],"x":275,"y":280,"wires":[["c8b585a5.c16898"]]},{"id":"f2cea8fb.b73d38","type":"link in","z":"7030b9d1.374548","name":"STEPPER_ARM_DIRECTION","links":["65bb7307.6ae86c"],"x":275,"y":360,"wires":[["54340294.93cb6c","8e8dff7f.bf981"]]},{"id":"385ccd79.7543d2","type":"link in","z":"74dcde4.14da52","name":"MoveArmToPosition","links":["6dc135ef.7702ac"],"x":155,"y":660,"wires":[["15495710.6a07b9"]]},{"id":"a9f3031b.310d4","type":"inject","z":"74dcde4.14da52","name":"HOME","props":[{"p":"payload"},{"p":"position","v":"1","vt":"num"},{"p":"init","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"HOME","payloadType":"str","x":130,"y":380,"wires":[["15495710.6a07b9"]]},{"id":"c8b35485.dbe478","type":"inject","z":"74dcde4.14da52","name":"BYPASS-2","props":[{"p":"payload"},{"p":"position","v":"6","vt":"num"},{"p":"init","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"BYPASS-2","payloadType":"str","x":120,"y":580,"wires":[["15495710.6a07b9"]]},{"id":"e03cbf2c.76371","type":"rpi-gpio out","z":"16bb35e6.30d3da","name":"BUZZER (GPIO24-18)","pin":"18","set":true,"level":"0","freq":"","out":"out","x":440,"y":80,"wires":[]},{"id":"cc5a0577.156878","type":"inject","z":"16bb35e6.30d3da","name":"OFF","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":120,"y":60,"wires":[["e03cbf2c.76371"]]},{"id":"5e5962e5.21440c","type":"inject","z":"16bb35e6.30d3da","name":"ON","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":120,"y":120,"wires":[["e03cbf2c.76371"]]},{"id":"a7521347.2c4d","type":"rpi-gpio out","z":"7030b9d1.374548","name":"STEPPER MOTOR ENABLE (GPIO18-12)","pin":"12","set":true,"level":"1","freq":"","out":"out","x":610,"y":200,"wires":[]},{"id":"c8b585a5.c16898","type":"rpi-gpio out","z":"7030b9d1.374548","name":"StepperArmStep (GPIO10-19)","pin":"19","set":true,"level":"0","freq":"","out":"out","x":590,"y":280,"wires":[]},{"id":"15495710.6a07b9","type":"function","z":"74dcde4.14da52","name":"Initialize Arm","func":"var init = global.get(\"InitStepArm\") || msg.init;\nvar originalMsg = msg;\nmsg = {};\nflow.set('stepCount', 0);\nflow.set('OpticSlot', false);\nflow.set('OpticSlot1', 0);\nflow.set('FoundPosition', false);\nglobal.set(\"InitStepArm\", init);\n\nif(init == true) {\n    node.warn(\"INITIALIZING ARM\");\n    \n    //enable arm (output 1)\n    msg.payload = 0;\n    node.send([msg, null, null, null, null, null]);\n    \n    //set direction (output 2)\n    msg.payload = 0; //CW=0, CCW=1\n    msg.direction = \"CW\";\n    node.send([null, msg, null, null, null, null]);\n    \n    msg.payload = \"MOVING\";\n    node.send([null, null, null, null, null, msg]);\n            \n    var timerId = setTimeout(function getOpticState() {\n        var sc = flow.get('stepCount');\n        var opticState = global.get(\"OPTIC_STATE\");\n        \n        if (opticState) { \n            var slotMsg = { payload: \"\"};\n            \n            //capture disk slot position\n            if(sc > 0 && flow.get('OpticSlot1')==0){\n                flow.set('OpticSlot1', sc);\n            }\n            else if(sc > 0 && flow.get('OpticSlot1') > 0 && flow.get('FoundPosition') == false){\n                var diff = (sc - flow.get('OpticSlot1'));\n                \n                switch(true){\n                    case (diff >= 226 && diff <= 236):\n                        //at ADJ-1\n                        slotMsg = { payload: \"AT ADJUNCT-1\"};\n                        node.send([null, null, null, slotMsg, null, null]);\n                        sc = 226;\n                        flow.set('FoundPosition', true);\n                        break;\n                    case (diff >= 57 && diff <= 77):\n                        //at ADJUNCT slot\n                        slotMsg = { payload: \"AT ADJUNCT SLOT\"};\n                        node.send([null, null, null, slotMsg, null, null]);\n                        sc = 0;\n                        flow.set('OpticSlot1', 0);\n                        break;\n                    case (diff >= 17 && diff <= 37):\n                        //at BYPASS slot\n                        slotMsg = { payload: \"AT BYPASS-2\"};\n                        node.send([null, null, null, slotMsg, null, null]);\n                        sc = 453;\n                        flow.set('FoundPosition', true);\n                        break;\n                    case (diff >= 202 && diff <= 222):\n                        //at HOME slot\n                        slotMsg = { payload: \"AT HOME\"};\n                        node.send([null, null, null, slotMsg, null, null]);\n                        sc = 0;\n                        flow.set('FoundPosition', true);\n                        break;\n                }\n            }\n            \n            //setup output message\n            var newMsg = { payload: \"Slot detected at Step Count: \" + sc};\n            \n            //Optical slot found (output 4)\n            if(!flow.get(\"OpticSlot\")){\n                node.send([null, null, null, newMsg, null, null]);\n            }\n            \n            flow.set('OpticSlot', true);\n            \n        } else {\n            flow.set('OpticSlot', false);\n        }\n        \n        //send step command to motor driver (output 3)\n        msg.payload = 1;\n        node.send([null, null, msg, null, null, null]);\n        msg.payload = 0;\n        node.send([null, null, msg, null, null, null]);\n        \n        sc++;\n        flow.set('stepCount', sc);\n        \n        if(sc < 667){\n            timerId = setTimeout(getOpticState, 10);\n        }\n        else {\n            clearTimeout(timerId);\n            global.set(\"InitStepArm\", false);\n            \n            //disable arm (output 1)\n            msg.payload = 1;\n            node.send([msg, null, null, null, null, null]);\n    \n            //set position to HOME\n            global.set(\"currentPosition\", 0);\n            msg.payload = \"HOME\";\n            global.set(\"ARM_LOCATION\", \"Home\");\n            node.send([null, null, null, null, null, msg]);\n            \n            //pass original message (output 5)\n            if(originalMsg.payload != \"INIT\"){\n                node.send([null, null, null, null, originalMsg, null]);\n            }\n        }\n    }, 10);\n}\nelse {\n    //pass original message (output 5)\n    node.send([null, null, null, null, originalMsg, null]);\n}\n","outputs":6,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":580,"wires":[["34367fc7.b8367"],["65bb7307.6ae86c"],["d2e52e6d.f99a5"],[],["e8600142.948f3"],["a6fa3b15.101998"]]},{"id":"79478b0b.e5bfb4","type":"switch","z":"7030b9d1.374548","name":"Sensor State Value","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":440,"wires":[["22862e70.2b4072"],["6c674cba.2fa6c4"]]},{"id":"6c674cba.2fa6c4","type":"change","z":"7030b9d1.374548","name":"OPTIC_STATE = TRUE","rules":[{"t":"set","p":"OPTIC_STATE","pt":"global","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":480,"wires":[["8bac0f8b.0ee83"]]},{"id":"22862e70.2b4072","type":"change","z":"7030b9d1.374548","name":"OPTIC_STATE = FALSE","rules":[{"t":"set","p":"OPTIC_STATE","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":420,"wires":[["8bac0f8b.0ee83"]]},{"id":"8bac0f8b.0ee83","type":"link out","z":"7030b9d1.374548","name":"OPTIC Sensor","links":["68b99eb4.590f7"],"x":1175,"y":440,"wires":[]},{"id":"64b357a.bffaba8","type":"comment","z":"7030b9d1.374548","name":"Optic State","info":"Value is 0 when the sensor is blocked by the disk.\nValue is 1 when the sensor encounters a slot.","x":170,"y":500,"wires":[]},{"id":"8aa480a.a401a","type":"function","z":"97192799.714bd","name":"Toggle Direction","func":"var direction = flow.get('direction')||0;\n\nif (direction === -1)\n{\n    direction = 1;\n}\nelse {\n    direction = -1;\n}\nflow.set('direction',direction);\nmsg.payload = direction;\nreturn msg;","outputs":1,"noerr":0,"x":431,"y":267,"wires":[[]]},{"id":"92e9f528.857ba","type":"switch","z":"97192799.714bd","name":"Step or Direction","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Step","vt":"str"},{"t":"eq","v":"Direction","vt":"str"}],"checkall":"true","outputs":2,"x":291,"y":171,"wires":[["1dff41aa.06dbde"],["8aa480a.a401a"]]},{"id":"34fcd685.ab0932","type":"comment","z":"97192799.714bd","name":"Flow Variables","info":"* Direction\n* Sequence\n* SequenceIndex","x":279,"y":42,"wires":[]},{"id":"b833a444.b121f8","type":"function","z":"97192799.714bd","name":"Sequence Generator","func":"var seqindex = context.get('seqindex')||0;\nvar sequence = [ [1,0,0,0],[1,1,0,0],[0,1,0,0],[0,1,1,0],[0,0,1,0],[0,0,1,1],[0,0,0,1],[1,0,0,1]]\nvar direction = flow.get('direction');\n\nseqindex = (seqindex % (sequence.length));\nif (seqindex == -1) {seqindex = sequence.length-1;}\n\nmsg.payload = sequence[seqindex];\nmsg.seqindex = seqindex;\nmsg.direction = direction;\n\ncontext.set('seqindex',seqindex+direction);\n\nnode.status({fill:\"green\",shape:\"dot\",text:\"Step\"});\nnode.status({});\n\nreturn GenerateOutput(seqindex);\n\nfunction GenerateOutput(index) {\n    return [ NewMessage(sequence[index][0]), NewMessage(sequence[index][1]),NewMessage(sequence[index][2]),NewMessage(sequence[index][3]), msg  ];\n}\n\nfunction NewMessage(val) {\n    return { payload:val };\n}","outputs":"5","noerr":0,"x":720,"y":174,"wires":[[],[],[],[],[]]},{"id":"1dff41aa.06dbde","type":"function","z":"97192799.714bd","name":"Multistep","func":"var outputMsgs = [];\nvar steps = msg.payload;\nfor (var count = 0; count < steps; count++) { \n    outputMsgs.push({payload:1});\n}\nreturn [ outputMsgs ];","outputs":1,"noerr":0,"x":434,"y":90,"wires":[["637b5925.225a28"]]},{"id":"637b5925.225a28","type":"delay","z":"97192799.714bd","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":615,"y":76,"wires":[["b833a444.b121f8"]]},{"id":"b6230bd7.d0ead8","type":"inject","z":"74dcde4.14da52","name":"INIT","props":[{"p":"payload"},{"p":"position","v":"1","vt":"num"},{"p":"init","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"INIT","payloadType":"str","x":130,"y":340,"wires":[["15495710.6a07b9"]]},{"id":"7a8eea7b.657e84","type":"comment","z":"74dcde4.14da52","name":"SLOT POSITIONS","info":"HOME: 0-4\nBYPASS-1: NO SLOT\nADJ-1: 226-236 (231)\nADJ-2: 293-303 (298)\nADJ-3: 359-369 (364)\nADJ-4: 426-436 (431)\nBYPASS-2: 453-463 (458)\nHOME: 660-670\n\n\n\nHOME to ADJ-1 = 231\nADJ-1 to ADJ-2 = 67\nADJ-2 to ADJ-3 = 67\nADJ-3 to ADJ-4 = 67\nADJ-4 to BYPASS-2 = 27\nBYPASS-2 to HOME = 212\n\nSTEPPER MOTOR 360 ROTATION = 667 COUNTS","x":310,"y":740,"wires":[]},{"id":"64765b55.32f8e4","type":"inject","z":"74dcde4.14da52","name":"ADJ-1","props":[{"p":"payload"},{"p":"position","v":"2","vt":"num"},{"p":"init","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ADJ-1","payloadType":"str","x":130,"y":420,"wires":[["15495710.6a07b9"]]},{"id":"e7c3176d.b07178","type":"inject","z":"74dcde4.14da52","name":"ADJ-2","props":[{"p":"payload"},{"p":"position","v":"3","vt":"num"},{"p":"init","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ADJ-2","payloadType":"str","x":130,"y":460,"wires":[["15495710.6a07b9"]]},{"id":"4e2cfad.acbbe04","type":"inject","z":"74dcde4.14da52","name":"ADJ-3","props":[{"p":"payload"},{"p":"position","v":"4","vt":"num"},{"p":"init","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ADJ-3","payloadType":"str","x":130,"y":500,"wires":[["15495710.6a07b9"]]},{"id":"22393183.0ef86e","type":"inject","z":"74dcde4.14da52","name":"ADJ-4","props":[{"p":"payload"},{"p":"position","v":"5","vt":"num"},{"p":"init","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ADJ-4","payloadType":"str","x":130,"y":540,"wires":[["15495710.6a07b9"]]},{"id":"6ab39fbc.dc5ad","type":"link in","z":"74dcde4.14da52","name":"MOVE-ARM-IN","links":["e8600142.948f3"],"x":155,"y":240,"wires":[["c3b175.2731de88"]]},{"id":"e8600142.948f3","type":"link out","z":"74dcde4.14da52","name":"MOVE-ARM-OUT","links":["6ab39fbc.dc5ad"],"x":695,"y":680,"wires":[]},{"id":"5b6ae4cd.7d05ec","type":"function","z":"74dcde4.14da52","name":"MoveArmToPosition","func":"//node.warn(msg);\n\n//how far to move the arm\nflow.set(\"target\", msg.target);\nflow.set('stepCount', msg.count);\nconst absolute = msg.absolute;\n\nvar timerId = setTimeout(function getOpticState() {\n        var sc = flow.get('stepCount');\n        var opticState = global.get(\"OPTIC_STATE\");\n        \n        //send step command to motor driver\n        msg.payload = 1;\n        node.send([msg, null, null]);\n        msg.payload = 0;\n        node.send([msg, null, null]);\n        \n        sc++;\n        flow.set('stepCount', sc);\n        \n        var target = flow.get(\"target\");\n        if(sc < target){\n            timerId = setTimeout(getOpticState, 10);\n        }\n        else {\n            //node.warn(\"AT POSITION: \"+sc);\n            \n            clearTimeout(timerId);\n            \n            //set position\n            global.set(\"currentPosition\", absolute); //this should be the slot position absolute count\n            \n            //clear counter\n            //flow.set('stepCount', 0);\n            \n            //send message\n            node.send([null, msg, null]);\n            \n            msg.payload = \"trigger\";\n            msg.topic = \"control\";\n            node.send([null, null, msg]);\n        }\n    }, 10);","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":80,"wires":[["d2e52e6d.f99a5"],["7753e4b.01b801c","4a546c4e.e1efd4"],["4634d4f0.94194c"]]},{"id":"8e8dff7f.bf981","type":"link out","z":"7030b9d1.374548","name":"SET_DIRECTION","links":["48ce1225.38043c"],"x":1175,"y":340,"wires":[]},{"id":"64504b11.167424","type":"link out","z":"7030b9d1.374548","name":"SET_STEPPER_MOTOR_STATE","links":["8dd035a6.c2cec8"],"x":1155,"y":120,"wires":[]},{"id":"a6fa3b15.101998","type":"link out","z":"74dcde4.14da52","name":"SET_ARM_LOCATION","links":["c46d0743.a5e5c8"],"x":1175,"y":200,"wires":[]},{"id":"f2a9b0db.df059","type":"change","z":"74dcde4.14da52","name":"MOVING","rules":[{"t":"set","p":"payload","pt":"msg","to":"Moving","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":180,"wires":[["a6fa3b15.101998"]]},{"id":"4a546c4e.e1efd4","type":"change","z":"74dcde4.14da52","name":"LOCATION","rules":[{"t":"set","p":"payload","pt":"msg","to":"location","tot":"msg"},{"t":"set","p":"ARM_LOCATION","pt":"global","to":"location","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":100,"wires":[["a6fa3b15.101998"]]},{"id":"4634d4f0.94194c","type":"link out","z":"74dcde4.14da52","name":"AT_LOCATION","links":["9ff4bb29.d0cbb8"],"x":405,"y":160,"wires":[]},{"id":"9ff4bb29.d0cbb8","type":"link in","z":"1fc7a19f.bc5d4e","name":"AT_LOCATION","links":["4634d4f0.94194c"],"x":575,"y":580,"wires":[["7c409433.fd77bc"]]},{"id":"7d821b76.42f324","type":"inject","z":"f50bcbeb.8aa948","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"enable","payload":"0","payloadType":"num","x":460,"y":80,"wires":[["7ee04b01.300614"]]},{"id":"6c9994b6.75eecc","type":"change","z":"1fc7a19f.bc5d4e","name":"START","rules":[{"t":"set","p":"StepStatus","pt":"global","to":"START","tot":"str"},{"t":"set","p":"InitStepArm","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":360,"wires":[["7c409433.fd77bc"]]},{"id":"e2c311a7.43d7a","type":"change","z":"1fc7a19f.bc5d4e","name":"STOP","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"},{"t":"set","p":"end","pt":"msg","to":"END","tot":"str"},{"t":"set","p":"StepStatus","pt":"global","to":"STOP","tot":"str"},{"t":"set","p":"StartDemo","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":320,"wires":[["756b22b6.7b2a8c","ba387a13.e93878"]]},{"id":"7765fe0.b55a204","type":"inject","z":"74dcde4.14da52","name":"BYPASS-2 & INIT","props":[{"p":"payload"},{"p":"position","v":"6","vt":"num"},{"p":"init","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"BYPASS-2","payloadType":"str","x":150,"y":620,"wires":[["15495710.6a07b9"]]},{"id":"ea2e4d53.c5f31","type":"inject","z":"f50bcbeb.8aa948","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"setpoint","payload":"0","payloadType":"num","x":460,"y":40,"wires":[["7ee04b01.300614"]]},{"id":"310a361b.796b0a","type":"function","z":"1f73b0a5.8b568f","name":"CHECK WORT PUMP","func":"msg.topic = \"setpoint\";\nvar wp = global.get(\"WORTPUMP\") || \"OFF\";\nif(wp == \"ON\"){\n    node.send([msg, null]);\n} else {\n    var sp = global.get(\"SetPoint\") || 0;\n    msg.payload = sp;\n    node.send([null, msg]);\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":140,"wires":[["a05abde3.df4b5"],["76fb66eb.353748"]]},{"id":"9cfe9f08.fe2b6","type":"mytimeout","z":"9feeac49.c2931","name":"DEMO Timer","outtopic":"","outsafe":"start","outwarning":"","outunsafe":"stop","warning":"0","timer":"","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":630,"y":540,"wires":[["57c9df74.e149c","392fb14f.88d8ae"],["eb332b19.35f788"]]},{"id":"392fb14f.88d8ae","type":"function","z":"9feeac49.c2931","name":"Set to 0 on stop","func":"if(msg.payload == \"stop\"){\n    msg.payload = 0;\n    node.send(msg);\n}","outputs":1,"noerr":0,"x":940,"y":500,"wires":[["e84dc68e.241c68"]]},{"id":"eb332b19.35f788","type":"link out","z":"9feeac49.c2931","name":"Demo Timer","links":["68c7dd01.af2b84"],"x":875,"y":560,"wires":[]},{"id":"988ed69f.e54458","type":"ui_switch","z":"1fc7a19f.bc5d4e","name":"DEMO","label":"DEMO","tooltip":"","group":"1b6b4797.ba3478","order":3,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"demo","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":230,"y":120,"wires":[["aa18477b.de5408"]]},{"id":"aa18477b.de5408","type":"change","z":"1fc7a19f.bc5d4e","name":"Demo Mode","rules":[{"t":"set","p":"DemoMode","pt":"global","to":"payload","tot":"msg"},{"t":"set","p":"StartDemo","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":120,"wires":[[]]},{"id":"ba387a13.e93878","type":"change","z":"1fc7a19f.bc5d4e","name":"Set Step Time to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":320,"wires":[["947ce2e2.99f3"]]},{"id":"947ce2e2.99f3","type":"link out","z":"1fc7a19f.bc5d4e","name":"Recipe TIme","links":["68c7dd01.af2b84"],"x":1195,"y":260,"wires":[]},{"id":"242fbf0.9bf5742","type":"link in","z":"9feeac49.c2931","name":"RIMS Timer","links":["7a0f70f.b164d9"],"x":175,"y":540,"wires":[["9cfe9f08.fe2b6","713eb224.c879ec"]]},{"id":"e62fd3e2.fffc3","type":"inject","z":"1f73b0a5.8b568f","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":770,"y":380,"wires":[["f9bc9f5.d18c46","840c0a9b.2088d8"]]},{"id":"d5dcdf0e.53a5","type":"mqtt out","z":"dc3bdf74.e4669","name":"","topic":"tpo","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"23aef131.9656ee","x":1210,"y":300,"wires":[]},{"id":"ba75b1ab.0bb96","type":"influxdb batch","z":"7c1b28ed.b5e5a8","influxdb":"7c0027b0.3ba578","precision":"","retentionPolicy":"","name":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":880,"y":380,"wires":[]},{"id":"30fe2289.c235ee","type":"function","z":"dc3bdf74.e4669","name":"","func":"var controlmsg = \n[{\n    payload: \n    {\n        temperature:msg.payload, \n        sensorname:\"wort\"\n        \n    }, \"topic\":msg.topic\n}];\nreturn controlmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":140,"wires":[["d5dcdf0e.53a5"]]},{"id":"79ad5abe.816594","type":"json","z":"7c1b28ed.b5e5a8","name":"","property":"payload","action":"","pretty":true,"x":430,"y":380,"wires":[["48c96460.a5fd1c"]]},{"id":"d53a2ca6.b2434","type":"function","z":"dc3bdf74.e4669","name":"","func":"var controlmsg = \n[{\n    payload: \n    {\n        temperature:msg.payload, \n        sensorname:\"hex\"\n        \n    }, \"topic\":msg.topic\n}];\nreturn controlmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":300,"wires":[["d5dcdf0e.53a5"]]},{"id":"a75754c1.96ba78","type":"function","z":"dc3bdf74.e4669","name":"","func":"var controlmsg = \n[{\n    payload: \n    {\n        temperature:msg.payload, \n        sensorname:\"rims\"\n        \n    }, \"topic\":msg.topic\n}];\nreturn controlmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":460,"wires":[["d5dcdf0e.53a5"]]},{"id":"ec45a132.d86d5","type":"function","z":"f614aecb.472f","name":"Set pump state","func":"switch(parseInt(msg.payload))\n{\n    case 1:\n        global.set(\"DRAINPUMP\", \"ON\");\n        break;\n    \n    default:\n        global.set(\"DRAINPUMP\", \"OFF\");\n        break;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":400,"wires":[["ce50740a.f7ecc8"]]},{"id":"5c85024d.37042c","type":"change","z":"f50bcbeb.8aa948","name":"","rules":[{"t":"set","p":"POWER","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":300,"wires":[["f76a9ea4.1a891"]]},{"id":"8f9b8ffb.42c18","type":"inject","z":"c64eaa0.570be58","name":"INIT PUMP","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":110,"y":240,"wires":[["28cc3fcd.c313"]]},{"id":"1d100116.7d889f","type":"inject","z":"f614aecb.472f","name":"INIT PUMP","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"state","payload":"0","payloadType":"num","x":130,"y":400,"wires":[["6f50588c.49b008"]]},{"id":"60ba9b70.a63f64","type":"inject","z":"9feeac49.c2931","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":830,"y":220,"wires":[["bbf204c8.9ff288","d538e48d.da23e8","e84dc68e.241c68"]]},{"id":"f0b41a71.d80348","type":"function","z":"1f73b0a5.8b568f","name":"INIT GLOBAL VALRIABLES","func":"global.set(\"DemoMode\", false);\nglobal.set(\"StartDemo\", false);\nglobal.set(\"StepStatus\", \"STOP\");\nglobal.set(\"ProcessValue\", 0);\nglobal.set(\"SetPoint\", 0);\nglobal.set(\"ARM_LOCATION\", \"UNDEFINED\");\nglobal.set(\"WORTPUMP\", \"OFF\");\nglobal.set(\"DRAINPUMP\", \"OFF\");\nglobal.set(\"POWER\", 0.0);\nglobal.set(\"MainTimer\", 0);\nglobal.set(\"RecipeName\", \"UNDEFINED\");\nglobal.set(\"currentPosition\", 0);\nglobal.set(\"OPTIC_STATE\", false);\nglobal.set(\"InitStepArm\", true);\nglobal.set(\"wort_temp\", 0);\nglobal.set(\"hex_temp\", 0);\nglobal.set(\"rims_temp\", 0);","outputs":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":1000,"wires":[]},{"id":"d0674a58.f583b8","type":"inject","z":"1f73b0a5.8b568f","name":"INIT","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":1000,"wires":[["f0b41a71.d80348"]]},{"id":"545ba6d3.3f6188","type":"timeprop","z":"9feeac49.c2931","name":"Cycle Time","cycleTime":"60","deadTime":0,"triggerPeriod":"1","invert":false,"x":690,"y":160,"wires":[["bbf204c8.9ff288"]]},{"id":"502d76d2.6eba88","type":"comment","z":"f50bcbeb.8aa948","name":"PID LOOP TUNING","info":"https://blog.clanlaw.org.uk/pid-loop-tuning.html","x":870,"y":80,"wires":[]},{"id":"713eb224.c879ec","type":"switch","z":"9feeac49.c2931","name":"STOP","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"stop","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":460,"wires":[["6c0bf528.6749dc"]]},{"id":"6c0bf528.6749dc","type":"change","z":"9feeac49.c2931","name":"TURN OFF RELAY","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":420,"wires":[["d538e48d.da23e8"]]},{"id":"908c8c40.8901","type":"link in","z":"f50bcbeb.8aa948","name":"EN (WORT)","links":["7f50ac5e.4943f4"],"x":295,"y":420,"wires":[["7ee04b01.300614"]]},{"id":"3726ab1.40bb554","type":"change","z":"1f73b0a5.8b568f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"SetPoint","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":260,"wires":[["76fb66eb.353748"]]}]