Zymatic_v2.5_4.12.2021.json
[{"id":"7c1b28ed.b5e5a8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7c0027b0.3ba578","type":"influxdb","hostname":"192.168.2.251","port":"8086","protocol":"http","database":"zymatic","name":"Zymatic InfluxDB","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"23aef131.9656ee","type":"mqtt-broker","name":"TEMP-PROBE-ONE","broker":"192.168.2.251","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"863a5408.a70c08","type":"mqtt out","z":"7c1b28ed.b5e5a8","name":"","topic":"tpo","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"23aef131.9656ee","x":380,"y":300,"wires":[]},{"id":"62d50c23.355a94","type":"inject","z":"7c1b28ed.b5e5a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"tpo","payload":"152","payloadType":"num","x":200,"y":300,"wires":[["863a5408.a70c08"]]},{"id":"65cac911.361858","type":"mqtt in","z":"7c1b28ed.b5e5a8","name":"","topic":"tpo","qos":"2","datatype":"utf8","broker":"23aef131.9656ee","nl":false,"rap":true,"rh":0,"x":380,"y":400,"wires":[["562fef8b.a108c","48c96460.a5fd1c"]]},{"id":"a6089f12.e6afb","type":"influxdb out","z":"7c1b28ed.b5e5a8","influxdb":"7c0027b0.3ba578","name":"temp-probe-1","measurement":"temperature","precision":"s","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":760,"y":400,"wires":[]},{"id":"562fef8b.a108c","type":"debug","z":"7c1b28ed.b5e5a8","name":"PRE","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":340,"wires":[]},{"id":"48c96460.a5fd1c","type":"function","z":"7c1b28ed.b5e5a8","name":"","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":400,"wires":[["a6089f12.e6afb","884f543e.60f1e8"]]},{"id":"884f543e.60f1e8","type":"debug","z":"7c1b28ed.b5e5a8","name":"POST","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":460,"wires":[]}]